In [1]:
#import packages
import csv
import numpy as np
import pandas as pd 

import warnings
warnings.filterwarnings("ignore")

In [2]:
#import CSV file
data = pd.read_csv("Cedefop2016.csv", index_col=[0])

# Survey the data

What information is available in the dataset? What is the shape of the data? How is the data formatted? Are there any missing values and what's the best approach to them?

All these questions need to be compared to the Questionnaire attached to the dataset and data removed with our hypothesis in mind that certain factors are important in relation to job satisfaction. 

There are few ways in which we are going to clean the data:

1. Merge lots of data from different columns that fit together and make them easier to understand including salary, job descriptions and qualification fields
2. Renaming columns to make them more understandable
3. Get rid of Nan values that are over a certain threshold
4. Create a data dictionary of the final data
5. Deal with 'don't know's and 'not applicable's by changing their number one more appropriate rather than 99 or 88 which will affect the visualisation.

In [3]:
#have a look at the data
data.head()

,NewID,resp_gender,resp_age,QCOUNTRY,Mrk_age,FIELD_MODE,Q1A_1_scale1,Q1A_1_scale2,Q1A_recode,Q1B,...,Q3a_rim,Q6a_rim,Q15_rim_new,Region1_sample,Region2_sample,Urban_rural_sample,Weight_Country_with_education,Weight_with_education,Weight_noeducation,Weight_Country_noeducation
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,13250002,1,25,13,1,1,89,12,2,1,...,2,3,2,South,Kaernten,.,1.117223,1.035291,0.814550,0.878995
AT_250003,13250003,1,33,13,1,1,82,1,2,1,...,3,2,1,North,Burgenland,.,0.272182,0.252221,0.853550,0.921080
AT_250004,13250004,1,40,13,2,1,74,6,3,1,...,1,2,2,South,Steiermark,.,1.560735,1.446278,1.036899,1.118935
AT_250005,13250005,2,39,13,1,1,75,8,2,2,...,3,3,1,South,Steiermark,.,0.210978,0.195506,0.883897,0.953829
AT_250006,13250006,1,61,13,3,1,53,10,4,1,...,2,3,1,Vienna,Wien,.,0.256858,0.238021,1.036693,1.118713

In [4]:
#understand the columns
list(data.columns)

['NewID',
 'resp_gender',
 'resp_age',
 'QCOUNTRY',
 'Mrk_age',
 'FIELD_MODE',
 'Q1A_1_scale1',
 'Q1A_1_scale2',
 'Q1A_recode',
 'Q1B',
 'Q2',
 'Q2A',
 'Q2B',
 'Q3A_1_Q3',
 'Q3B',
 'Q3C',
 'Q3D',
 'Q3E',
 'Q3F',
 'Q3G',
 'Q3H',
 'Q3I',
 'Q3J_string',
 'Q3J2_string',
 'Q3J_Tr',
 'Q3J_Coded',
 'Q4_1',
 'Q4_2',
 'Q4_3',
 'Q4_4',
 'Q5',
 'Q6A',
 'Q6B_string',
 'Q6B_Tr',
 'Q6B_coded',
 'Q6C',
 'Q7',
 'Q7_2',
 'Q8_1',
 'Q8_2',
 'Q8_3',
 'Q8_4',
 'Q8_5',
 'Q8_6',
 'Q9',
 'Q9_1',
 'Q9_2',
 'Q10',
 'Q10_2',
 'Q11',
 'Q12',
 'Q13_1_scale',
 'Q13_2_scale',
 'Q13_3_scale',
 'Q13_4_scale',
 'Q14_1_scale',
 'Q15',
 'Q15_new',
 'Q15_ans',
 'Q16',
 'Q16B',
 'Q1701',
 'Q1702',
 'Q1703',
 'Q1704',
 'Q1705',
 'Q1706',
 'Q1707',
 'Q1708',
 'Q1709',
 'Q1710',
 'Q1711',
 'Q1712',
 'Q1713',
 'Q1714',
 'Q18_1_scale',
 'Q18_ex1',
 'Q18_ex2',
 'Q19',
 'Q19_string',
 'Q19_DE_VOC',
 'Q19_DE_ACAD',
 'Q20',
 'Q20_string',
 'Q20_DE_VOC',
 'Q20_DE_ACAD',
 'Q20B',
 'Q21A',
 'Q21B',
 'Q21C',
 'Q22A_1_scale',
 'Q22A_2_scale',
 'Q22A_3_scale',
 'Q22A_4_scale',
 'Q22A_5_scale',
 'Q22A_6_scale',
 'Q22A_7_scale',
 'Q22B_1_scale',
 'Q22B_2_scale',
 'Q22B_3_scale',
 'Q22B_4_scale',
 'Q22B_5_scale',
 'Q22B_6_scale',
 'Q22B_7_scale',
 'Q23A_1_scale',
 'Q23A_2_scale',
 'Q23A_3_scale',
 'Q23A_4_scale',
 'Q23A_5_scale',
 'Q23A_6_scale',
 'Q23A_7_scale',
 'Q23A_8_scale',
 'Q23B_1_scale',
 'Q23B_2_scale',
 'Q23B_3_scale',
 'Q23B_4_scale',
 'Q23B_5_scale',
 'Q23B_6_scale',
 'Q23B_7_scale',
 'Q23B_8_scale',
 'Q24',
 'Q25_1_scale',
 'Q26_1_scale',
 'Q27_1_scale',
 'Q28_1',
 'Q28_2',
 'Q28_3',
 'Q28_4',
 'Q28_5',
 'Q28_6',
 'Q28_7',
 'Q29_1_scale',
 'Q_29_2_scale',
 'Q_29_3_scale',
 'Q30',
 'Q31_1_scale',
 'Q32_1_scale',
 'Q33_1',
 'Q33_2',
 'Q33_3',
 'Q33_4',
 'Q33_5',
 'Q34_1',
 'Q34_2',
 'Q34_3',
 'Q34_4',
 'Q34_5',
 'Q34_6',
 'Q34_7',
 'Q35_1',
 'Q35_2',
 'Q35_3',
 'Q35_4',
 'Q35_5',
 'Q35_6',
 'Q35_7',
 'Q36_insert',
 'Q36_1',
 'Q36_2',
 'Q36_3',
 'Q36_4',
 'Q36_5',
 'Q36_6',
 'Q37',
 'Q38_1',
 'Q38_2',
 'Q38_3',
 'Q38_4',
 'Q39',
 'Q40',
 'Q41',
 'Q42_1_scale',
 'Q42_2_scale',
 'Q42_3_scale',
 'Q42_4_scale',
 'Q42_5_scale',
 'Q42_6_scale',
 'Q42_7_scale',
 'Q42_8_scale',
 'Q42_9_scale',
 'Q43_1_scale',
 'Q43_2_scale',
 'Q43_3_scale',
 'Q44_1_scale',
 'Q44_2_scale',
 'Q44_3_scale',
 'Q44_4_scale',
 'Q45',
 'Q46',
 'Q47_1',
 'Q47_2',
 'Q47_3',
 'Q47_4',
 'Q47_5',
 'Q47_6',
 'Q47_7',
 'Q48',
 'Q48_years',
 'Q48_years_grouped',
 'Q49_1_scale',
 'Q49_2_scale',
 'Q50',
 'Q50_1_1',
 'Q50_2_1',
 'Q50_3_1',
 'Q50_4_1',
 'Q50_5_1',
 'Q50_6_1',
 'Q50_7_1',
 'Q50_8_1',
 'Q50_9_1',
 'Q50_10_1',
 'Q50_11_1',
 'Q50_12_1',
 'Q50_13_1',
 'Q50_14_1',
 'Q50_15_1',
 'Q50_16_1',
 'Q50_17_1',
 'Q50_18_1',
 'Q50_19_1',
 'Q50_20_1',
 'Q50_21_1',
 'Q50_22_1',
 'Q50_23_1',
 'Q50_24_1',
 'Q50_24_2',
 'Q50_25_1',
 'Q50_26_1',
 'Q50_27_1',
 'Q50_28_1',
 'Q51',
 'Q51_quartiles',
 'Q52_1_1',
 'Q52_1_2',
 'Q52_1_3',
 'Q52_1_4',
 'QTimer_1_Scale',
 'QTimer_2_Scale',
 'QTimer_3_Scale',
 'QTimer_4_Scale',
 'QTimer_5_Scale',
 'QTimer_6_Scale',
 'QTimer_7_Scale',
 'QTimer_8_Scale',
 'QTimer_9_Scale',
 'QTimer_10_Scale',
 'QTimer_SectionA_1_Scale',
 'QTimer_SectionA_2_Scale',
 'QTimer_SectionA_3_Scale',
 'QTimer_SectionA_4_Scale',
 'QTimer_SectionA_5_Scale',
 'QTimer_SectionA_6_Scale',
 'QTimer_SectionA_7_Scale',
 'QTimer_SectionA_8_Scale',
 'QTimer_SectionA_9_Scale',
 'QTimer_SectionA_10_Scale',
 'QTimer_SectionA_11_Scale',
 'QTimer_SectionA_12_Scale',
 'QTimer_SectionA_13_Scale',
 'QTimer_SectionA_14_Scale',
 'QTimer_SectionA_15_Scale',
 'QTimer_SectionA_16_Scale',
 'QTimer_SectionA_17_Scale',
 'QTimer_SectionA_18_Scale',
 'QTimer_SectionA_19_Scale',
 'QTimer_SectionA_20_Scale',
 'QTimer_SectionA_21_Scale',
 'QTimer_SectionA_22_Scale',
 'QTimer_SectionA_23_Scale',
 'QTimer_SectionA_24_Scale',
 'QTimer_SectionA_25_Scale',
 'QTimer_SectionA_26_Scale',
 'CurrentMonth',
 'CurrentDay',
 'CurrentYear',
 'TimeElapsedSeconds',
 'TimeSessionStarted',
 'TimeSurveyStarted',
 'TimeSessionEnded',
 'TimeLastActivity',
 'year',
 'month',
 'Q3a_rim',
 'Q6a_rim',
 'Q15_rim_new',
 'Region1_sample',
 'Region2_sample',
 'Urban_rural_sample',
 'Weight_Country_with_education',
 'Weight_with_education',
 'Weight_noeducation',
 'Weight_Country_noeducation']

In [18]:
#Read in the column names so we get a better understanding of what the dataset is telling us
code = pd.read_csv("Cedefop_Codebook.csv", index_col=[0])
pd.set_option('display.max_rows', code.shape[0]+1)

In [19]:
code

,Name,Label,Type,Level,Width,Decimals,Domain,Value Scheme,Link to Values
Sequence in Dataset,,,,,,,,,
1,ID,ID,String,Nominal,200,0,Not assigned,None,NaN
2,NewID,ID,Numeric,Nominal,40,0,Not assigned,None,NaN
3,resp_gender,What is your gender?,Numeric,Nominal,1,0,Sampling/weighting,Gender,Values
4,resp_age,RespondentAge,Numeric,Nominal,3,0,Sampling/weighting,Age,Values
5,QCOUNTRY,Country,Numeric,Nominal,2,0,Sampling/weighting,Country,Values
6,Mrk_age,Age group of the respondent,Numeric,Nominal,1,0,Sampling/weighting,Derived - Age Categories (3),Values
7,FIELD_MODE,Mode of interview: Online or telephone,Numeric,Nominal,1,0,Sampling/weighting,Mode,Values
8,Q1A_1_scale1,DOB Year,Numeric,Nominal,2,0,Selection criteria,DOB,Values
9,Q1A_1_scale2,DOB Month,Numeric,Nominal,2,0,Selection criteria,DOB,Values
10,Q1A_recode,Used for quota age,Numeric,Nominal,1,0,Selection criteria,Derived - Age Categories (5),Values
11,Q1B,What is your gender? Please select one option ...,Numeric,Nominal,1,0,Selection criteria,Gender,Values
12,Q2,"Did you do any paid work in the last 7 days, e...",Numeric,Nominal,1,0,Selection criteria,Yes (1) / No (2),Values
13,Q2A,Do you have a paid job or business from which ...,Numeric,Nominal,1,0,Selection criteria,Yes (1) / No (2),Values
14,Q2B,Are you self-employed? Please select one answe...,Numeric,Nominal,1,0,Selection criteria,Yes (1) / No (2),Values
15,Q3A_1_Q3,Occupation coded into ISCO 1 digit codes,Numeric,Nominal,2,0,Current job,ISCO 1998 1 Digit Occupation Code,Values
16,Q3B,Which of the following best describes your cur...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
17,Q3C,Which of the following best describes the focu...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
18,Q3D,Which of the following best describes your cur...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
19,Q3E,Which of the following best describes your cur...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
20,Q3F,Which of the following best describes your cur...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
21,Q3G,Which of the following best describes your cur...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
22,Q3H,Which of the following best describes your cur...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
23,Q3I,Which of the following best describes your cur...,Numeric,Nominal,1,0,Current job,ISCO 1998 2 Digit Occupation Code,Values
24,Q3J_string,Please write in the name/title of your job and...,String,Nominal,316,0,Current job,NaN,NaN
25,Q3J2_string,What kind of work do you do most of the time? ...,String,Nominal,644,0,Current job,NaN,NaN
26,Q3J_Tr,Occupation translation of open-ended response Q3J,String,Nominal,300,0,Current job,NaN,NaN
27,Q3J_Coded,Occupation back-coded using open-ended respons...,Numeric,Nominal,2,0,Current job,ISCO 1998 1 Digit Occupation Code,Values
28,Q4_1,Which of the following best describes your sit...,Numeric,Nominal,1,0,Current job,No (0) / Yes (1),Values
29,Q4_2,Which of the following best describes your sit...,Numeric,Nominal,1,0,Current job,No (0) / Yes (1),Values
30,Q4_3,Which of the following best describes your sit...,Numeric,Nominal,1,0,Current job,No (0) / Yes (1),Values
31,Q4_4,Which of the following best describes your sit...,Numeric,Nominal,1,0,Current job,No (0) / Yes (1),Values
32,Q5,Which of the following best describes the type...,Numeric,Nominal,2,0,Current job,Type of organisation - Categories (4),Values
33,Q6A,What is the main activity carried out by your ...,Numeric,Nominal,2,0,Current job,NACE Rev.2 1 Digit Industry Code,Values
34,Q6B_string,What is the main activity carried out by your ...,String,Nominal,281,0,Current job,NaN,NaN
35,Q6B_Tr,Industry translation of open-ended response,String,Nominal,300,0,Current job,NaN,NaN
36,Q6B_coded,Industry back-coded using open-ended response,Numeric,Nominal,2,0,Current job,NACE Rev.2 1 Digit Industry Code,Values
37,Q6C,Approximately how many people work in your wor...,Numeric,Nominal,2,0,Current job,No. of employees,Values
38,Q7,How many years in total have you been working ...,Numeric,Nominal,2,0,Current job,Years with current employer,Values
39,Q7_2,Years in job,Numeric,Scale,11,0,Current job,Years in job,NaN
40,Q8_1,Have any of the following changes in your role...,Numeric,Nominal,1,0,Current job,Changes in job role,Values
41,Q8_2,Have any of the following changes in your role...,Numeric,Nominal,1,0,Current job,NaN,Values
42,Q8_3,Have any of the following changes in your role...,Numeric,Nominal,1,0,Current job,NaN,Values
43,Q8_4,Have any of the following changes in your role...,Numeric,Nominal,1,0,Current job,NaN,Values
44,Q8_5,Have any of the following changes in your role...,Numeric,Nominal,1,0,Current job,NaN,Values
45,Q8_6,Have any of the following changes in your role...,Numeric,Nominal,1,0,Current job,NaN,Values
46,Q9,Thinking about the most recent change to your ...,Numeric,Nominal,2,0,Current job,No. years since recent change,Values
47,Q9_1,Years since most recent change to job role,String,Nominal,300,0,Current job,NaN,NaN
48,Q9_2,Years since most recent change to job role inc...,Numeric,Scale,11,0,Current job,NaN,NaN
49,Q10,How many hours do you work per week in your cu...,Numeric,Nominal,2,0,Current job,Hours worked per week,Values
50,Q10_2,Hours worked per week,Numeric,Scale,11,0,Current job,NaN,NaN
51,Q11,In your current job do you work on a part-time...,Numeric,Nominal,2,0,Current job,Full or Part Time employment,Values
52,Q12,"What kind of employment contract, if any, do y...",Numeric,Nominal,2,0,Current job,Type of contract,Values
53,Q13_1_scale,"How often, if at all does your job involve the...",Numeric,Nominal,2,0,Current job,Job Characteristics,Values
54,Q13_2_scale,"How often, if at all does your job involve the...",Numeric,Nominal,2,0,Current job,Job Characteristics,Values
55,Q13_3_scale,"How often, if at all does your job involve the...",Numeric,Nominal,2,0,Current job,Job Characteristics,Values
56,Q13_4_scale,"How often, if at all does your job involve the...",Numeric,Nominal,2,0,Current job,Job Characteristics,Values
57,Q14_1_scale,"On a scale from 1 to 10, how satisified are yo...",Numeric,Nominal,2,0,Current job,Job Satisfaction,Values
58,Q15,What is the highest level of education or trai...,Numeric,Nominal,2,0,Educational Attainment,ISCED 1997 (1-6),Values
59,Q15_new,What is the highest level of education or trai...,Numeric,Nominal,8,2,Educational Attainment,Derived - ISCED 1997 (1-6),Values
60,Q15_ans,Country specific education qualifications,String,Nominal,207,0,Educational Attainment,Country specifc edcuation qualifications,NaN
61,Q16,Did your study take place only within an educa...,Numeric,Nominal,2,0,Educational Attainment,Vocational or Non-vocational learning,Values
62,Q16B,"Overall, would you describe your highest quali...",Numeric,Nominal,2,0,Educational Attainment,Vocational or Non-vocational qualification,Values
63,Q1701,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
64,Q1702,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
65,Q1703,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
66,Q1704,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
67,Q1705,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
68,Q1706,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
69,Q1707,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
70,Q1708,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
71,Q1709,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
72,Q1710,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
73,Q1711,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
74,Q1712,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
75,Q1713,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
76,Q1714,Main area or field of highest level of qualifi...,Numeric,Nominal,1,0,Educational Attainment,Main area of field of qualification,Values
77,Q18_1_scale,In what year did you ahceive your highest leve...,Numeric,Nominal,3,0,Educational Attainment,Year achieved highest qualification,Values
78,Q18_ex1,Not applicable,Numeric,Nominal,1,0,Educational Attainment,NaN,Values
79,Q18_ex2,Donâ€™t know,Numeric,Nominal,1,0,Educational Attainment,NaN,Values
80,Q19,ISCED_Qualification needed to get job,Numeric,Nominal,3,0,Educational Attainment,ISCED 1997 (1-6),Values
81,Q19_string,Qualification needed to get job_country specif...,String,Nominal,182,0,Educational Attainment,NaN,NaN
82,Q19_DE_VOC,Qualification needed to get job: GERMANY - voc...,Numeric,Nominal,3,0,Educational Attainment,Germany specific vocational qualifications,Values
83,Q19_DE_ACAD,Qualification needed to get job: GERMANY - aca...,Numeric,Nominal,3,0,Educational Attainment,Germany specific educational qualifications,Values
84,Q20,ISCED_Qualification needed to do job,Numeric,Nominal,3,0,Educational Attainment,ISCED 1997 (1-6),Values
85,Q20_string,Qualification needed to do job_country specifi...,String,Nominal,182,0,Educational Attainment,NaN,NaN
86,Q20_DE_VOC,Qualification needed to do job: GERMANY - voca...,Numeric,Nominal,3,0,Educational Attainment,Germany specific vocational qualifications,Values
87,Q20_DE_ACAD,Qualification needed to do job: GERMANY - acad...,Numeric,Nominal,3,0,Educational Attainment,Germany specific educational qualifications,Values
88,Q20B,Think about the level of skills needed to do y...,Numeric,Scale,8,0,Skills & Job Demands,Overall skills level (0 - 100),NaN
89,Q21A,Which of the following best describes the high...,Numeric,Nominal,2,0,Skills & Job Demands,Level literacy skills required - 2 categories,Values
90,Q21B,Which of the following best describes the high...,Numeric,Nominal,2,0,Skills & Job Demands,Level of numeracy skills required - 2 categories,Values
91,Q21C,Which of the following best describes the high...,Numeric,Nominal,2,0,Skills & Job Demands,Level of ICT skills required - 3 categories,Values
92,Q22A_1_scale,Basic literacy skills,Numeric,Nominal,2,0,Skills & Job Demands,Importance of skill (0 - 10),Values
93,Q22A_2_scale,Advanced literacy skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
94,Q22A_3_scale,Basic numeracy skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
95,Q22A_4_scale,Advanced numeracy skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
96,Q22A_5_scale,Basic ICT skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
97,Q22A_6_scale,Moderate ICT skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
98,Q22A_7_scale,Advanced ICT skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
99,Q22B_1_scale,How would you best describe your skills? Basic...,Numeric,Nominal,2,0,Skills & Job Demands,Respondent level of skill (0 - 10),Values
100,Q22B_2_scale,How would you best describe your skills? Advan...,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
101,Q22B_3_scale,How would you best describe your skills? Basic...,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
102,Q22B_4_scale,How would you best describe your skills? Advan...,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
103,Q22B_5_scale,How would you best describe your skills? Basic...,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
104,Q22B_6_scale,How would you best describe your skills? Moder...,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
105,Q22B_7_scale,How would you best describe your skills? Advan...,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
106,Q23A_1_scale,Technical skills,Numeric,Nominal,2,0,Skills & Job Demands,Importance of skill (0 - 10),Values
107,Q23A_2_scale,Communication skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
108,Q23A_3_scale,Team-working skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
109,Q23A_4_scale,Foreign language skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
110,Q23A_5_scale,Customer handling skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
111,Q23A_6_scale,Problem solving skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
112,Q23A_7_scale,Learning skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
113,Q23A_8_scale,Planning and organisation skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
114,Q23B_1_scale,Technical skills,Numeric,Nominal,2,0,Skills & Job Demands,Respondent level of skill (0 - 10),Values
115,Q23B_2_scale,Communication skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
116,Q23B_3_scale,Team-working skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
117,Q23B_4_scale,Foreign language skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
118,Q23B_5_scale,Customer handling skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
119,Q23B_6_scale,Problem solving skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
120,Q23B_7_scale,Learning skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
121,Q23B_8_scale,Planning and organisation skills,Numeric,Nominal,2,0,Skills & Job Demands,NaN,Values
122,Q24,"Overall, how would you best describe your skil...",Numeric,Nominal,2,0,Skills & Job Demands,Overall level of skill (0 - 3),Values
123,Q25_1_scale,To what extent would you say that your skills ...,Numeric,Nominal,2,0,Skills & Job Demands,Skills lower than required (0 - 5),Values
124,Q26_1_scale,To what extent would you say your skills are h...,Numeric,Nominal,2,0,Skills & Job Demands,Skills higher than required (0 - 5),Values
125,Q27_1_scale,Compared to when you started your job with you...,Numeric,Nominal,2,0,Situation since Start of Current Job,Skills evolution (0 - 10 & can't compare),Values
126,Q28_1,"You attended training courses (work-based, cla...",Numeric,Nominal,1,0,Situation since Start of Current Job,Method to improve/acquire new skills,Values
127,Q28_2,Your supervisor taught you on-the-job,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
128,Q28_3,You learned by interacting with colleagues at ...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
129,Q28_4,You learned at work through trial and error,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
130,Q28_5,You learned by yourself (e.g. with the aid of ...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
131,Q28_6,Not applicable,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
132,Q28_7,Donâ€™t know,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
133,Q29_1_scale,"Have the following increased, decreased or re...",Numeric,Nominal,2,0,Situation since Start of Current Job,Changes in job characteristics since start of ...,Values
134,Q_29_2_scale,The difficulty of the tasks,Numeric,Nominal,2,0,Situation since Start of Current Job,NaN,Values
135,Q_29_3_scale,The need to learn new thing,Numeric,Nominal,2,0,Situation since Start of Current Job,NaN,Values
136,Q30,When you started your job with your current em...,Numeric,Nominal,2,0,Situation since Start of Current Job,Level of skills before current job (1 - 3),Values
137,Q31_1_scale,When you started your job with your current em...,Numeric,Nominal,2,0,Situation since Start of Current Job,Underskilled before current job (1 - 5),Values
138,Q32_1_scale,When you started your job with your current em...,Numeric,Nominal,2,0,Situation since Start of Current Job,Overskilled before current job (1 - 5),Values
139,Q33_1,Training in last 12 months:Training courses at...,Numeric,Nominal,1,0,Situation since Start of Current Job,Types of training,Values
140,Q33_2,Training in last 12 months: Training courses a...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
141,Q33_3,Training in last 12 months:Training whilst per...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
142,Q33_4,Training in last 12 months: I have not undergo...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
143,Q33_5,Training in last 12 months: DK,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
144,Q34_1,You paid (with or without help from family/fri...,Numeric,Nominal,1,0,Situation since Start of Current Job,Funding for training,Values
145,Q34_2,Your employer paid (or you paid and you were f...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
146,Q34_3,Your employer paid part of the cost,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
147,Q34_4,The government or other public sector organisa...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
148,Q34_5,Someone else/another organisation paid,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
149,Q34_6,Not applicable,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
150,Q34_7,Donâ€™t know,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
151,Q35_1,To stay up-to-date with changing skill needs o...,Numeric,Nominal,1,0,Situation since Start of Current Job,Reason for training,Values
152,Q35_2,To comply with mandatory policy of employer or...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
153,Q35_3,To perform better at the job,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
154,Q35_4,To improve career prospects,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
155,Q35_5,For personal/non job-related reasons,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
156,Q35_6,Not applicable,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
157,Q35_7,Donâ€™t know,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
158,Q36_insert,In the last five years have any of these chang...,Numeric,Nominal,1,0,Situation since Start of Current Job,Changes in the workplace,Values
159,Q36_1,Changes to the technologies you use (e.g. mach...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
160,Q36_2,Changes to your working methods and practices ...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
161,Q36_3,Changes to the products/services you help to p...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
162,Q36_4,Changes to the amount of contact you have with...,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
163,Q36_5,Not applicable,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
164,Q36_6,Donâ€™t know,Numeric,Nominal,1,0,Situation since Start of Current Job,NaN,Values
165,Q37,Were any of these changes supported by trainin...,Numeric,Nominal,2,0,Situation since Start of Current Job,Training to support changes in workplace,Values
166,Q38_1,I enjoy learning for its own sake,Numeric,Nominal,2,0,Situation since Start of Current Job,Learning Preferences (0 - 10),Values
167,Q38_2,I try to relate learning to practical issues,Numeric,Nominal,2,0,Situation since Start of Current Job,NaN,Values

In [20]:
#Remove any columns from data which we think will not be useful byt putting into new dataframe
#these include the times of the survey and their personal details

In [21]:
data = data[['resp_gender', 'resp_age', 
             'QCOUNTRY', 'Q3A_1_Q3', 'Q3C', 'Q3D', 'Q3E', 
             'Q3F', 'Q3G', 'Q3H', 'Q3I', 'Q4_1', 
             'Q4_2', 'Q4_3', 'Q5', 'Q6A', 'Q6C', 'Q8_1', 
             'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q11', 'Q12', 
             'Q13_1_scale', 'Q13_2_scale', 'Q13_3_scale', 'Q13_4_scale', 
             'Q14_1_scale', 'Q15', 'Q16B', 'Q1701', 'Q1702', 'Q1703', 'Q1704', 
             'Q1705', 'Q1706', 'Q1707', 'Q1708', 'Q1709', 'Q1710', 'Q1711', 'Q1712', 
             'Q1713', 'Q1714', 'Q19', 'Q20', 'Q20B', 'Q21A', 'Q21B', 
             'Q21C', 'Q22B_1_scale', 'Q22B_2_scale', 'Q22B_3_scale', 'Q22B_4_scale', 
             'Q22B_5_scale', 'Q22B_6_scale', 'Q22B_7_scale', 'Q23A_1_scale', 
             'Q23A_2_scale', 'Q23A_3_scale', 'Q23A_4_scale', 'Q23A_5_scale', 
             'Q23A_6_scale', 'Q23A_7_scale', 'Q23A_8_scale', 'Q23B_1_scale', 'Q23B_2_scale', 
             'Q23B_3_scale', 'Q23B_4_scale', 'Q23B_5_scale', 'Q23B_6_scale', 'Q23B_7_scale', 
             'Q23B_8_scale', 'Q24', 'Q25_1_scale', 'Q26_1_scale', 'Q27_1_scale', 'Q28_1', 'Q28_2', 
             'Q28_3', 'Q28_4', 'Q28_5', 'Q29_1_scale', 'Q_29_2_scale', 'Q_29_3_scale', 
             'Q30', 'Q31_1_scale', 'Q32_1_scale', 'Q33_1', 'Q33_2', 'Q33_3', 'Q33_4', 'Q34_1', 
             'Q34_2', 'Q34_3', 'Q34_4', 'Q34_5', 'Q35_1', 'Q35_2', 'Q35_3', 'Q35_4', 
             'Q35_5', 'Q36_1', 'Q36_2', 'Q36_3', 'Q36_4', 
             'Q37', 'Q40', 'Q41','Q42_1_scale',  'Q42_2_scale', 'Q42_3_scale', 'Q42_4_scale', 'Q42_5_scale', 'Q42_6_scale',
             'Q42_7_scale', 'Q42_8_scale', 'Q42_9_scale', 'Q44_1_scale', 'Q44_2_scale', 'Q44_3_scale', 
             'Q44_4_scale', 'Q46', 'Q49_1_scale', 'Q49_2_scale', 'Q50_1_1', 'Q50_2_1', 'Q50_3_1', 
             'Q50_4_1', 'Q50_5_1', 'Q50_6_1', 'Q50_7_1', 'Q50_8_1', 'Q50_9_1', 'Q50_10_1', 'Q50_11_1', 'Q50_12_1', 
             'Q50_13_1', 'Q50_14_1', 'Q50_15_1', 'Q50_16_1', 'Q50_17_1', 'Q50_18_1', 'Q50_19_1', 'Q50_20_1', 
             'Q50_21_1', 'Q50_22_1', 'Q50_23_1', 'Q50_24_2', 'Q50_25_1', 'Q50_26_1', 'Q50_27_1', 'Q50_28_1']]

In [22]:
# and check the data
data

,resp_gender,resp_age,QCOUNTRY,Q3A_1_Q3,Q3C,Q3D,Q3E,Q3F,Q3G,Q3H,...,Q50_19_1,Q50_20_1,Q50_21_1,Q50_22_1,Q50_23_1,Q50_24_2,Q50_25_1,Q50_26_1,Q50_27_1,Q50_28_1
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,13,6,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250003,1,33,13,2,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250004,1,40,13,7,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250005,2,39,13,5,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250006,1,61,13,6,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29965068,1,49,3,7,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29975069,2,52,3,1,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29976396,2,51,3,4,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29989388,1,25,3,6,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29997615,1,38,3,7,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#find out the new shape of the data
data.shape

(48676, 154)

In [24]:
#and how the data is formatted
data.dtypes

resp_gender       int64
resp_age          int64
QCOUNTRY          int64
Q3A_1_Q3          int64
Q3C             float64
Q3D             float64
Q3E             float64
Q3F             float64
Q3G             float64
Q3H             float64
Q3I             float64
Q4_1              int64
Q4_2              int64
Q4_3              int64
Q5                int64
Q6A               int64
Q6C               int64
Q8_1              int64
Q8_2              int64
Q8_3              int64
Q8_4              int64
Q8_5              int64
Q11               int64
Q12               int64
Q13_1_scale       int64
Q13_2_scale       int64
Q13_3_scale       int64
Q13_4_scale       int64
Q14_1_scale       int64
Q15               int64
Q16B            float64
Q1701           float64
Q1702           float64
Q1703           float64
Q1704           float64
Q1705           float64
Q1706           float64
Q1707           float64
Q1708           float64
Q1709           float64
Q1710           float64
Q1711           float64
Q1712           float64
Q1713           float64
Q1714           float64
Q19               int64
Q20               int64
Q20B              int64
Q21A              int64
Q21B              int64
Q21C              int64
Q22B_1_scale    float64
Q22B_2_scale    float64
Q22B_3_scale    float64
Q22B_4_scale    float64
Q22B_5_scale    float64
Q22B_6_scale    float64
Q22B_7_scale    float64
Q23A_1_scale      int64
Q23A_2_scale      int64
Q23A_3_scale      int64
Q23A_4_scale      int64
Q23A_5_scale      int64
Q23A_6_scale      int64
Q23A_7_scale      int64
Q23A_8_scale      int64
Q23B_1_scale    float64
Q23B_2_scale    float64
Q23B_3_scale    float64
Q23B_4_scale    float64
Q23B_5_scale    float64
Q23B_6_scale    float64
Q23B_7_scale    float64
Q23B_8_scale    float64
Q24               int64
Q25_1_scale     float64
Q26_1_scale     float64
Q27_1_scale       int64
Q28_1           float64
Q28_2           float64
Q28_3           float64
Q28_4           float64
Q28_5           float64
Q29_1_scale       int64
Q_29_2_scale      int64
Q_29_3_scale      int64
Q30               int64
Q31_1_scale     float64
Q32_1_scale     float64
Q33_1             int64
Q33_2             int64
Q33_3             int64
Q33_4             int64
Q34_1           float64
Q34_2           float64
Q34_3           float64
Q34_4           float64
Q34_5           float64
Q35_1           float64
Q35_2           float64
Q35_3           float64
Q35_4           float64
Q35_5           float64
Q36_1             int64
Q36_2             int64
Q36_3             int64
Q36_4             int64
Q37             float64
Q40             float64
Q41               int64
Q42_1_scale       int64
Q42_2_scale       int64
Q42_3_scale       int64
Q42_4_scale       int64
Q42_5_scale       int64
Q42_6_scale       int64
Q42_7_scale       int64
Q42_8_scale       int64
Q42_9_scale       int64
Q44_1_scale       int64
Q44_2_scale       int64
Q44_3_scale       int64
Q44_4_scale       int64
Q46               int64
Q49_1_scale       int64
Q49_2_scale       int64
Q50_1_1         float64
Q50_2_1         float64
Q50_3_1         float64
Q50_4_1         float64
Q50_5_1         float64
Q50_6_1         float64
Q50_7_1         float64
Q50_8_1         float64
Q50_9_1         float64
Q50_10_1        float64
Q50_11_1        float64
Q50_12_1        float64
Q50_13_1        float64
Q50_14_1        float64
Q50_15_1        float64
Q50_16_1        float64
Q50_17_1        float64
Q50_18_1        float64
Q50_19_1        float64
Q50_20_1        float64
Q50_21_1        float64
Q50_22_1        float64
Q50_23_1        float64
Q50_24_2        float64
Q50_25_1        float64
Q50_26_1        float64
Q50_27_1        float64
Q50_28_1        float64
dtype: object

# Investigate specific aspects of the data

## Countries

In [25]:
#as countries are currently mapped out as numbers, we'll convert these to names
#this is primarily so we can see at a glance the data without having to refer back to the question guide 
data['QCOUNTRY']= data['QCOUNTRY'].map(str)

In [26]:
data['QCOUNTRY'] = data['QCOUNTRY'].map({"1": "Germany", "2": "France", "3": "United Kingdom", "4": "Sweden", 
                          "5": "Italy","6": "Greece", "7": "Czech Republic", "8": "Poland", 
                          "9": "Netherlands", "10": "Denmark", "11": "Hungary", "12": "Spain",
                         "13": "Austria", "14": "Belgium", "15": "Ireland", "16": "Slovakia",
                          "17": "Finland", "18": "Portugal", "19": "Estonia", "20": "Romania",
                          "21": "Lithuania", "22": "Cyprus", "23": "Slovenia", "24": "Bulgaria", 
                          "25": "Latvia", "26": "Luxembourg", "27": "Malta", "28": "Croatia"
                         })

In [27]:
data

,resp_gender,resp_age,QCOUNTRY,Q3A_1_Q3,Q3C,Q3D,Q3E,Q3F,Q3G,Q3H,...,Q50_19_1,Q50_20_1,Q50_21_1,Q50_22_1,Q50_23_1,Q50_24_2,Q50_25_1,Q50_26_1,Q50_27_1,Q50_28_1
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,Austria,6,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250003,1,33,Austria,2,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250004,1,40,Austria,7,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250005,2,39,Austria,5,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250006,1,61,Austria,6,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29965068,1,49,United Kingdom,7,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29975069,2,52,United Kingdom,1,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29976396,2,51,United Kingdom,4,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29989388,1,25,United Kingdom,6,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29997615,1,38,United Kingdom,7,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Salary

Salaries are defined in terms of each country's pay per month. I've restructured them so that they are all returned in Euros.

In [28]:
#firstly let's create a dataframe of gross monthly salary
salary = data[['Q50_1_1', 'Q50_2_1', 'Q50_3_1', 
             'Q50_4_1', 'Q50_5_1', 'Q50_6_1', 'Q50_7_1', 'Q50_8_1', 'Q50_9_1', 'Q50_10_1', 'Q50_11_1', 'Q50_12_1', 
             'Q50_13_1', 'Q50_14_1', 'Q50_15_1', 'Q50_16_1', 'Q50_17_1', 'Q50_18_1', 'Q50_19_1', 'Q50_20_1', 
             'Q50_21_1', 'Q50_22_1', 'Q50_23_1', 'Q50_24_2', 'Q50_25_1', 'Q50_26_1', 'Q50_27_1', 'Q50_28_1']]

In [29]:
salary

,Q50_1_1,Q50_2_1,Q50_3_1,Q50_4_1,Q50_5_1,Q50_6_1,Q50_7_1,Q50_8_1,Q50_9_1,Q50_10_1,...,Q50_19_1,Q50_20_1,Q50_21_1,Q50_22_1,Q50_23_1,Q50_24_2,Q50_25_1,Q50_26_1,Q50_27_1,Q50_28_1
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29965068,4400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29975069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29976396,13000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29989388,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29997615,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#what values are there?
salary.Q50_1_1.unique()

array([        nan, 1.75000e+03, 3.30000e+03, 1.50000e+03, 1.40000e+03,
       2.53900e+03, 1.25000e+03, 1.65000e+03, 1.75000e+04, 2.88000e+05,
       3.01600e+03, 1.20000e+03, 3.00000e+03, 1.60000e+03, 2.00000e+03,
       2.50000e+03, 1.80000e+03, 6.00000e+03, 9.64000e+02, 1.90000e+03,
       4.40000e+03, 3.50000e+03, 2.65000e+03, 4.60000e+03, 4.00000e+03,
       3.50000e+04, 1.00000e+04, 5.00000e+03, 4.50000e+03, 4.55000e+03,
       6.50000e+03, 1.00000e+03, 2.80000e+03, 5.00000e+01, 1.30000e+03,
       5.50000e+03, 2.90000e+03, 3.93000e+03, 2.70000e+03, 2.30000e+03,
       5.00000e+02, 3.33400e+03, 3.33300e+03, 2.10000e+03, 1.10000e+03,
       3.20000e+03, 7.00000e+02, 6.50000e+02, 2.30000e+04, 9.50000e+02,
       2.00000e+04, 2.10000e+04, 9.99900e+03, 3.20000e+04, 1.19700e+03,
       2.75000e+04, 3.70000e+03, 2.50000e+02, 3.58520e+04, 1.11500e+03,
       1.12000e+02, 9.00000e+02, 2.38000e+03, 6.00000e+02, 7.00000e+04,
       2.50000e+04, 2.40000e+03, 2.20000e+03, 2.58300e+03, 1.94000e+03,
       8.50000e+02, 5.50000e+04, 3.40000e+03, 1.70000e+03, 2.40000e+04,
       3.10000e+04, 1.85000e+04, 8.00000e+02, 7.80000e+04, 6.33300e+03,
       5.30000e+04, 4.20000e+02, 3.00000e+04, 5.20000e+03, 1.69143e+03,
       3.60000e+03, 8.00000e+03, 2.45000e+04, 2.20000e+04, 2.45000e+03,
       1.72000e+04, 1.79000e+04, 2.86000e+04, 1.55000e+03, 3.05000e+04,
       4.00000e+04, 1.83300e+03, 9.50000e+03, 3.25000e+02, 1.50000e+02,
       1.55790e+02, 1.17000e+03, 2.66600e+03, 3.00000e+02, 6.70000e+03,
       2.80000e+02, 3.03300e+03, 2.28700e+03, 1.05000e+05, 1.37500e+03,
       3.16000e+03, 2.60000e+04, 2.12500e+03, 2.60000e+03, 3.80000e+04,
       2.55000e+03, 1.19000e+03, 1.74700e+03, 6.44000e+02, 7.65000e+02,
       1.85000e+03, 1.50000e+04, 5.88000e+02, 2.25000e+03, 6.00000e+04,
       5.00000e+04, 2.06600e+03, 3.80000e+03, 1.40000e+04, 3.40000e+04,
       4.60000e+04, 4.50000e+04, 1.80000e+04, 4.08300e+03, 4.15000e+03,
       4.50000e+02, 2.00000e+02, 2.90000e+04, 2.28000e+03, 2.70000e+04,
       3.90000e+03, 4.30000e+04, 5.75000e+03, 1.15000e+03, 1.72500e+03,
       3.50000e+02, 4.30000e+02, 4.00000e+02, 5.98000e+02, 1.95000e+03,
       9.00000e+04, 1.35000e+03, 5.60000e+02, 4.10000e+03, 8.30000e+02,
       2.99900e+04, 4.80000e+03, 1.56200e+03, 1.88100e+04, 6.20000e+03,
       1.00000e+02, 2.02125e+03, 1.45000e+04, 3.67500e+03, 4.10000e+04,
       1.70000e+04, 1.45000e+03, 2.85000e+02, 1.51500e+03, 1.52000e+03,
       1.08000e+03, 2.50000e+01, 5.20000e+02, 4.40000e+04, 1.35600e+03,
       1.60000e+04, 7.50000e+03, 1.88000e+03, 2.80000e+04, 1.34700e+03,
       2.35000e+03, 4.20000e+04, 4.85000e+04, 1.16000e+03, 2.15000e+03,
       8.90000e+02, 2.75000e+03, 2.15000e+04, 7.48000e+03, 1.04000e+03,
       1.54000e+03, 3.75000e+03, 3.70000e+04, 2.00300e+03, 2.71500e+03,
       1.93500e+03, 4.80000e+04, 9.18000e+02, 4.80000e+02, 1.58300e+03,
       3.25000e+03, 1.29000e+03, 2.87700e+03, 2.18000e+03, 6.80000e+02,
       1.28000e+03, 1.99990e+04, 9.30000e+02, 2.52000e+04, 7.12800e+03,
       7.00000e+03, 1.03900e+03, 2.77000e+03, 1.73300e+03, 9.94000e+02,
       5.50000e+02, 2.50000e+05, 1.33300e+03, 2.83300e+03, 4.30000e+03,
       1.52500e+03, 4.55000e+04, 4.38750e+02, 3.25000e+04, 4.07000e+03,
       5.60000e+04, 2.90000e+02, 3.08300e+03, 7.50000e+02, 1.47500e+03,
       2.33333e+03, 1.15000e+04, 6.40000e+02, 2.69000e+03, 5.46000e+02,
       2.61000e+02, 1.83333e+03, 1.56000e+03, 9.20000e+02, 1.86000e+03,
       9.70000e+02, 1.47000e+03, 2.08300e+03, 1.46000e+03, 5.70000e+03,
       1.32000e+03, 1.50100e+03, 1.39900e+03, 9.56000e+02, 9.59000e+02,
       1.87000e+03, 3.00000e+05, 3.60000e+04, 1.66600e+03, 2.05000e+03,
       1.30000e+04, 1.12000e+03, 1.90000e+04, 6.05000e+02, 2.37500e+03,
       1.80000e+05, 3.30000e+02, 4.20000e+03, 1.69000e+03, 1.05000e+03,
       4.25000e+03, 2.21000e+03, 1.27000e+03, 2.81500e+03, 1.48000e+03,
       8.75000e+02, 9.98000e+02, 8.50000e+04, 3.75250e+04, 2.97000e+04,
       2.03800e+03, 1.59000e+03, 2.11380e+04, 9.00000e+03, 5.25000e+03,
       1.36000e+03, 5.85000e+03, 1.15190e+04, 2.34000e+03, 3.90000e+04,
       7.58000e+02, 1.76666e+03, 1.20000e+04, 7.80000e+01, 7.90000e+03,
       1.10900e+03, 6.66500e+03, 5.40000e+02, 2.41750e+04, 3.80000e+02,
       1.33700e+03, 1.80000e+02, 2.22300e+03, 3.30000e+04, 3.21400e+03,
       2.27000e+04, 1.40400e+03, 2.06000e+03, 3.95000e+04, 3.45420e+02,
       1.10000e+04, 3.10000e+03, 6.20000e+02, 1.08500e+03, 1.16700e+03,
       6.28000e+02, 1.31142e+03, 1.07500e+03, 9.78000e+02, 8.31000e+02,
       2.05000e+04, 2.72600e+03, 1.25600e+03, 1.69980e+04, 1.22500e+03,
       1.82000e+03, 4.75000e+03, 9.95000e+03, 3.67000e+03, 4.90000e+04,
       1.40590e+04, 6.85000e+02, 4.15400e+03, 9.90000e+02, 8.33333e+03,
       2.24000e+03, 1.92600e+03, 2.49990e+04, 1.46530e+04, 7.50000e+04,
       1.55000e+04, 9.10000e+03, 1.22000e+03, 4.35000e+05, 1.80600e+03,
       1.18500e+03, 1.02300e+03, 3.91000e+04, 2.25000e+04, 2.17000e+03,
       2.01900e+03, 6.25000e+03, 1.88650e+04, 2.23000e+03, 1.31500e+03,
       4.93000e+03, 5.34000e+02, 2.81100e+04, 2.52500e+03, 3.66000e+03,
       1.72700e+03, 2.90400e+03, 3.85000e+04, 9.73000e+02, 4.42000e+02,
       2.08000e+04, 1.66000e+03, 7.31000e+02, 2.29000e+03, 4.23000e+03,
       9.30000e+04, 2.01000e+04, 2.61800e+03, 5.70000e+02, 2.64500e+03,
       2.87500e+03, 3.33000e+03, 1.23700e+03, 1.76000e+03, 7.47000e+02,
       2.93100e+03, 3.55000e+04, 3.95000e+02, 5.75000e+02, 4.37500e+03,
       6.06000e+02, 2.87750e+03, 1.39200e+03, 2.99000e+02, 1.67000e+03,
       5.47000e+02, 4.25000e+02, 5.16600e+03, 7.30000e+02, 2.91600e+03,
       1.15600e+03, 8.70000e+02, 2.87000e+02, 2.35000e+04, 5.33000e+02,
       1.09200e+04, 2.03300e+03, 3.18750e+02, 4.00000e+05, 2.61500e+03,
       3.15300e+03, 1.87600e+03, 1.26700e+03, 2.36700e+03, 3.18600e+03,
       5.78000e+03, 1.38300e+03, 1.83000e+04, 9.99000e+02, 3.34000e+02,
       2.08200e+03, 3.24240e+04, 2.40000e+02, 5.80000e+04, 3.75000e+04,
       2.20000e+02, 4.78125e+03, 1.42500e+03, 2.30000e+02, 3.42053e+03,
       2.34200e+03, 1.24000e+03, 2.65000e+04, 3.05000e+03, 1.58000e+03,
       7.68000e+02, 5.40000e+03, 1.25850e+04, 3.37500e+03, 1.95000e+04,
       3.00275e+03, 4.99500e+03, 1.71600e+03, 6.70000e+02, 7.20000e+02,
       4.16800e+03, 1.95833e+03, 2.30800e+03, 1.35000e+04, 1.30000e+02,
       1.77500e+03, 2.67500e+04, 2.32500e+03, 6.25000e+02, 1.14840e+04,
       1.81600e+03, 1.49500e+03, 2.67000e+04, 6.50000e+04, 1.19900e+03,
       1.44000e+03, 2.85000e+03, 6.89000e+02, 4.40000e+02, 2.00000e+01,
       1.76600e+03, 1.85300e+03, 4.66600e+03, 3.05500e+03, 1.93000e+04,
       1.33600e+03, 1.02000e+03, 1.56000e+04, 4.38600e+04, 8.30000e+04,
       3.02000e+02, 1.63400e+04, 1.48100e+03, 2.16600e+03, 4.70000e+04,
       1.07200e+03, 1.70800e+03, 8.09500e+02, 4.39000e+02, 6.10000e+02,
       2.08408e+03, 9.60000e+02, 3.54200e+03, 1.67950e+03, 3.85500e+03,
       1.07293e+03, 2.80000e+01, 2.47000e+03, 9.25000e+03, 2.95000e+04,
       7.80000e+02, 2.25400e+03, 1.05400e+03, 3.12000e+03, 1.41600e+03,
       1.63300e+03, 3.16700e+03, 1.90000e+02, 1.62767e+03, 2.53000e+03,
       8.50000e+03])

### Convert all salaries to Euros

In [31]:
#convert UK salaries from Pounds to Euros based on 2014 data
salary["Q50_1_1"] = 1.2012894596 * salary["Q50_1_1"]

In [32]:
salary.Q50_1_1.unique()

array([           nan, 2.10225655e+03, 3.96425522e+03, 1.80193419e+03,
       1.68180524e+03, 3.05007394e+03, 1.50161182e+03, 1.98212761e+03,
       2.10225655e+04, 3.45971364e+05, 3.62308901e+03, 1.44154735e+03,
       3.60386838e+03, 1.92206314e+03, 2.40257892e+03, 3.00322365e+03,
       2.16232103e+03, 7.20773676e+03, 1.15804304e+03, 2.28244997e+03,
       5.28567362e+03, 4.20451311e+03, 3.18341707e+03, 5.52593151e+03,
       4.80515784e+03, 4.20451311e+04, 1.20128946e+04, 6.00644730e+03,
       5.40580257e+03, 5.46586704e+03, 7.80838149e+03, 1.20128946e+03,
       3.36361049e+03, 6.00644730e+01, 1.56167630e+03, 6.60709203e+03,
       3.48373943e+03, 4.72106758e+03, 3.24348154e+03, 2.76296576e+03,
       6.00644730e+02, 4.00509906e+03, 4.00389777e+03, 2.52270787e+03,
       1.32141841e+03, 3.84412627e+03, 8.40902622e+02, 7.80838149e+02,
       2.76296576e+04, 1.14122499e+03, 2.40257892e+04, 2.52270787e+04,
       1.20116933e+04, 3.84412627e+04, 1.43794348e+03, 3.30354601e+04,
       4.44477100e+03, 3.00322365e+02, 4.30686297e+04, 1.33943775e+03,
       1.34544419e+02, 1.08116051e+03, 2.85906891e+03, 7.20773676e+02,
       8.40902622e+04, 3.00322365e+04, 2.88309470e+03, 2.64283681e+03,
       3.10293067e+03, 2.33050155e+03, 1.02109604e+03, 6.60709203e+04,
       4.08438416e+03, 2.04219208e+03, 2.88309470e+04, 3.72399732e+04,
       2.22238550e+04, 9.61031568e+02, 9.37005778e+04, 7.60776615e+03,
       6.36683414e+04, 5.04541573e+02, 3.60386838e+04, 6.24670519e+03,
       2.03189703e+03, 4.32464205e+03, 9.61031568e+03, 2.94315918e+04,
       2.64283681e+04, 2.94315918e+03, 2.06621787e+04, 2.15030813e+04,
       3.43568785e+04, 1.86199866e+03, 3.66393285e+04, 4.80515784e+04,
       2.20196358e+03, 1.14122499e+04, 3.90419074e+02, 1.80193419e+02,
       1.87148885e+02, 1.40550867e+03, 3.20263770e+03, 3.60386838e+02,
       8.04863938e+03, 3.36361049e+02, 3.64351093e+03, 2.74734899e+03,
       1.26135393e+05, 1.65177301e+03, 3.79607469e+03, 3.12335259e+04,
       2.55274010e+03, 3.12335259e+03, 4.56489995e+04, 3.06328812e+03,
       1.42953446e+03, 2.09865269e+03, 7.73630412e+02, 9.18986437e+02,
       2.22238550e+03, 1.80193419e+04, 7.06358202e+02, 2.70290128e+03,
       7.20773676e+04, 6.00644730e+04, 2.48186402e+03, 4.56489995e+03,
       1.68180524e+04, 4.08438416e+04, 5.52593151e+04, 5.40580257e+04,
       2.16232103e+04, 4.90486486e+03, 4.98535126e+03, 5.40580257e+02,
       2.40257892e+02, 3.48373943e+04, 2.73893997e+03, 3.24348154e+04,
       4.68502889e+03, 5.16554468e+04, 6.90741439e+03, 1.38148288e+03,
       2.07222432e+03, 4.20451311e+02, 5.16554468e+02, 4.80515784e+02,
       7.18371097e+02, 2.34251445e+03, 1.08116051e+05, 1.62174077e+03,
       6.72722097e+02, 4.92528678e+03, 9.97070251e+02, 3.60266709e+04,
       5.76618941e+03, 1.87641414e+03, 2.25962547e+04, 7.44799465e+03,
       1.20128946e+02, 2.42810632e+03, 1.74186972e+04, 4.41473876e+03,
       4.92528678e+04, 2.04219208e+04, 1.74186972e+03, 3.42367496e+02,
       1.81995353e+03, 1.82595998e+03, 1.29739262e+03, 3.00322365e+01,
       6.24670519e+02, 5.28567362e+04, 1.62894851e+03, 1.92206314e+04,
       9.00967095e+03, 2.25842418e+03, 3.36361049e+04, 1.61813690e+03,
       2.82303023e+03, 5.04541573e+04, 5.82625388e+04, 1.39349577e+03,
       2.58277234e+03, 1.06914762e+03, 3.30354601e+03, 2.58277234e+04,
       8.98564516e+03, 1.24934104e+03, 1.84998577e+03, 4.50483547e+03,
       4.44477100e+04, 2.40618279e+03, 3.26150088e+03, 2.32449510e+03,
       5.76618941e+04, 1.10278372e+03, 5.76618941e+02, 1.90164121e+03,
       3.90419074e+03, 1.54966340e+03, 3.45610978e+03, 2.61881102e+03,
       8.16876833e+02, 1.53765051e+03, 2.40245879e+04, 1.11719920e+03,
       3.02724944e+04, 8.56279127e+03, 8.40902622e+03, 1.24813975e+03,
       3.32757180e+03, 2.08183463e+03, 1.19408172e+03, 6.60709203e+02,
       3.00322365e+05, 1.60131885e+03, 3.40325304e+03, 5.16554468e+03,
       1.83196643e+03, 5.46586704e+04, 5.27065750e+02, 3.90419074e+04,
       4.88924810e+03, 6.72722097e+04, 3.48373943e+02, 3.70357540e+03,
       9.00967095e+02, 1.77190195e+03, 2.80300473e+03, 1.38148288e+04,
       7.68825254e+02, 3.23146865e+03, 6.55904045e+02, 3.13536549e+02,
       2.20236000e+03, 1.87401156e+03, 1.10518630e+03, 2.23439839e+03,
       1.16525078e+03, 1.76589551e+03, 2.50228594e+03, 1.75388261e+03,
       6.84734992e+03, 1.58570209e+03, 1.80313548e+03, 1.68060395e+03,
       1.14843272e+03, 1.15203659e+03, 2.24641129e+03, 3.60386838e+05,
       4.32464205e+04, 2.00134824e+03, 2.46264339e+03, 1.56167630e+04,
       1.34544419e+03, 2.28244997e+04, 7.26780123e+02, 2.85306247e+03,
       2.16232103e+05, 3.96425522e+02, 5.04541573e+03, 2.03017919e+03,
       1.26135393e+03, 5.10548020e+03, 2.65484971e+03, 1.52563761e+03,
       3.38162983e+03, 1.77790840e+03, 1.05112828e+03, 1.19888688e+03,
       1.02109604e+05, 4.50783870e+04, 3.56782970e+04, 2.44822792e+03,
       1.91005024e+03, 2.53928566e+04, 1.08116051e+04, 6.30676966e+03,
       1.63375367e+03, 7.02754334e+03, 1.38376533e+04, 2.81101734e+03,
       4.68502889e+04, 9.10577410e+02, 2.12227004e+03, 1.44154735e+04,
       9.37005778e+01, 9.49018673e+03, 1.33223001e+03, 8.00659425e+03,
       6.48696308e+02, 2.90411727e+04, 4.56489995e+02, 1.60612401e+03,
       2.16232103e+02, 2.67046647e+03, 3.96425522e+04, 3.86094432e+03,
       2.72692707e+04, 1.68661040e+03, 2.47465629e+03, 4.74509337e+04,
       4.14949405e+02, 1.32141841e+04, 3.72399732e+03, 7.44799465e+02,
       1.30339906e+03, 1.40190480e+03, 7.54409781e+02, 1.57539502e+03,
       1.29138617e+03, 1.17486109e+03, 9.98271541e+02, 2.46264339e+04,
       3.27471507e+03, 1.50881956e+03, 2.04195182e+04, 1.47157959e+03,
       2.18634682e+03, 5.70612493e+03, 1.19528301e+04, 4.40873232e+03,
       5.88631835e+04, 1.68889285e+04, 8.22883280e+02, 4.99015642e+03,
       1.18927657e+03, 1.00107415e+04, 2.69088839e+03, 2.31368350e+03,
       3.00310352e+04, 1.76024945e+04, 9.00967095e+04, 1.86199866e+04,
       1.09317341e+04, 1.46557314e+03, 5.22560915e+05, 2.16952876e+03,
       1.42352801e+03, 1.22891912e+03, 4.69704179e+04, 2.70290128e+04,
       2.60679813e+03, 2.42540342e+03, 7.50805912e+03, 2.26623257e+04,
       2.67887549e+03, 1.57969564e+03, 5.92235704e+03, 6.41488571e+02,
       3.37682467e+04, 3.03325589e+03, 4.39671942e+03, 2.07462690e+03,
       3.48854459e+03, 4.62496442e+04, 1.16885464e+03, 5.30969941e+02,
       2.49868208e+04, 1.99414050e+03, 8.78142595e+02, 2.75095286e+03,
       5.08145441e+03, 1.11719920e+05, 2.41459181e+04, 3.14497581e+03,
       6.84734992e+02, 3.17741062e+03, 3.45370720e+03, 4.00029390e+03,
       1.48599506e+03, 2.11426945e+03, 8.97363226e+02, 3.52097941e+03,
       4.26457758e+04, 4.74509337e+02, 6.90741439e+02, 5.25564139e+03,
       7.27981413e+02, 3.45671042e+03, 1.67219493e+03, 3.59185548e+02,
       2.00615340e+03, 6.57105334e+02, 5.10548020e+02, 6.20586135e+03,
       8.76941306e+02, 3.50296006e+03, 1.38869062e+03, 1.04512183e+03,
       3.44770075e+02, 2.82303023e+04, 6.40287282e+02, 1.31180809e+04,
       2.44222147e+03, 3.82911015e+02, 4.80515784e+05, 3.14137194e+03,
       3.78766567e+03, 2.25361903e+03, 1.52203375e+03, 2.84345215e+03,
       3.82730822e+03, 6.94345308e+03, 1.66138332e+03, 2.19835971e+04,
       1.20008817e+03, 4.01230680e+02, 2.50108465e+03, 3.89506094e+04,
       2.88309470e+02, 6.96747887e+04, 4.50483547e+04, 2.64283681e+02,
       5.74366523e+03, 1.71183748e+03, 2.76296576e+02, 4.10904664e+03,
       2.81341991e+03, 1.48959893e+03, 3.18341707e+04, 3.66393285e+03,
       1.89803735e+03, 9.22590305e+02, 6.48696308e+03, 1.51182278e+04,
       4.05435193e+03, 2.34251445e+04, 3.60717192e+03, 6.00044085e+03,
       2.06141271e+03, 8.04863938e+02, 8.64928411e+02, 5.00697447e+03,
       2.35252119e+03, 2.77257607e+03, 1.62174077e+04, 1.56167630e+02,
       2.13228879e+03, 3.21344930e+04, 2.79299799e+03, 7.50805912e+02,
       1.37956082e+04, 2.18154166e+03, 1.79592774e+03, 3.20744286e+04,
       7.80838149e+04, 1.44034606e+03, 1.72985682e+03, 3.42367496e+03,
       8.27688438e+02, 5.28567362e+02, 2.40257892e+01, 2.12147719e+03,
       2.22598937e+03, 5.60521662e+03, 3.66993930e+03, 2.31848866e+04,
       1.60492272e+03, 1.22531525e+03, 1.87401156e+04, 5.26885557e+04,
       9.97070251e+04, 3.62789417e+02, 1.96290698e+04, 1.77910969e+03,
       2.60199297e+03, 5.64606046e+04, 1.28778230e+03, 2.05180240e+03,
       9.72443818e+02, 5.27366073e+02, 7.32786570e+02, 2.50358334e+03,
       1.15323788e+03, 4.25496727e+03, 2.01756565e+03, 4.63097087e+03,
       1.28889950e+03, 3.36361049e+01, 2.96718497e+03, 1.11119275e+04,
       3.54380391e+04, 9.37005778e+02, 2.70770644e+03, 1.26615909e+03,
       3.74802311e+03, 1.70102587e+03, 1.96170569e+03, 3.80448372e+03,
       2.28244997e+02, 1.95530281e+03, 3.03926233e+03, 1.02109604e+04])

In [33]:
#do the same for other non-Euro currencies

In [34]:
#convert Swedish salaries from SEK to Euros
salary["Q50_4_1"] = 0.1136504019 * salary["Q50_4_1"]

In [35]:
#convert Czech salaries from CZK to Euros
salary["Q50_7_1"] = 0.0364052057 * salary["Q50_7_1"]

In [36]:
#convert Polish salaries from PLN to Euros
salary["Q50_8_1"] = 0.2400112381 * salary["Q50_8_1"]

In [37]:
#convert Danish salaries from DKR to Euros
salary["Q50_10_1"] = 0.1340054363 * salary["Q50_10_1"]

In [38]:
#convert Hungarian salaries from Ft to Euros
salary["Q50_11_1"] = 0.0033267684 * salary["Q50_11_1"]

In [39]:
#convert Romanian salaries from RON to Euros
salary["Q50_20_1"] = 0.2207511783 * salary["Q50_20_1"]

In [40]:
#convert Lithuanian salaries from Lev to Euros
salary["Q50_23_1"] = 0.5113076272 * salary["Q50_23_1"]

In [41]:
#convert Croatian salaries from HRK to Euros
salary["Q50_25_1"] = 0.1311363250 * salary["Q50_25_1"]

In [42]:
#put all the salaries into one column
salary = salary.bfill(axis=1).iloc[:, 0]

In [43]:
salary

ID
AT_250002      34000.000000
AT_250003               NaN
AT_250004               NaN
AT_250005       2100.000000
AT_250006       1500.000000
                   ...
UK_29965068     5285.673622
UK_29975069             NaN
UK_29976396    15616.762975
UK_29989388     1922.063135
UK_29997615     3603.868379
Name: Q50_1_1, Length: 48676, dtype: float64

In [44]:
# put the one salary column into a dataframe
salary = pd.DataFrame(salary)

In [45]:
# and put it together with the previous data
data['salary'] = salary

In [46]:
# check to see that it looks ok
data

,resp_gender,resp_age,QCOUNTRY,Q3A_1_Q3,Q3C,Q3D,Q3E,Q3F,Q3G,Q3H,...,Q50_20_1,Q50_21_1,Q50_22_1,Q50_23_1,Q50_24_2,Q50_25_1,Q50_26_1,Q50_27_1,Q50_28_1,salary
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,Austria,6,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34000.000000
AT_250003,1,33,Austria,2,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250004,1,40,Austria,7,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT_250005,2,39,Austria,5,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2100.000000
AT_250006,1,61,Austria,6,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29965068,1,49,United Kingdom,7,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5285.673622
UK_29975069,2,52,United Kingdom,1,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK_29976396,2,51,United Kingdom,4,NaN,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15616.762975
UK_29989388,1,25,United Kingdom,6,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1922.063135
UK_29997615,1,38,United Kingdom,7,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3603.868379

In [47]:
# and delete all the individual salary columns previously used
data = data.drop(columns=['Q50_1_1', 'Q50_2_1', 'Q50_3_1', 
             'Q50_4_1', 'Q50_5_1', 'Q50_6_1', 'Q50_7_1', 'Q50_8_1', 'Q50_9_1', 'Q50_10_1', 'Q50_11_1', 'Q50_12_1', 
             'Q50_13_1', 'Q50_14_1', 'Q50_15_1', 'Q50_16_1', 'Q50_17_1', 'Q50_18_1', 'Q50_19_1', 'Q50_20_1', 
             'Q50_21_1', 'Q50_22_1', 'Q50_23_1', 'Q50_24_2', 'Q50_25_1', 'Q50_26_1', 'Q50_27_1', 'Q50_28_1'])

In [48]:
#check to see what the dataframe looks like now
data

,resp_gender,resp_age,QCOUNTRY,Q3A_1_Q3,Q3C,Q3D,Q3E,Q3F,Q3G,Q3H,...,Q42_8_scale,Q42_9_scale,Q44_1_scale,Q44_2_scale,Q44_3_scale,Q44_4_scale,Q46,Q49_1_scale,Q49_2_scale,salary
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,Austria,6,5.0,NaN,NaN,NaN,NaN,NaN,...,9,5,2,2,2,1,99,0,4,34000.000000
AT_250003,1,33,Austria,2,NaN,NaN,NaN,NaN,6.0,NaN,...,8,9,1,1,1,1,2,5,4,NaN
AT_250004,1,40,Austria,7,1.0,NaN,NaN,NaN,NaN,NaN,...,10,5,2,2,2,1,2,99,1,NaN
AT_250005,2,39,Austria,5,NaN,1.0,NaN,NaN,NaN,NaN,...,10,10,2,1,2,2,99,0,3,2100.000000
AT_250006,1,61,Austria,6,4.0,NaN,NaN,NaN,NaN,NaN,...,10,7,2,2,1,1,2,0,0,1500.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29965068,1,49,United Kingdom,7,2.0,NaN,NaN,NaN,NaN,NaN,...,10,8,1,2,2,2,1,3,2,5285.673622
UK_29975069,2,52,United Kingdom,1,NaN,NaN,NaN,NaN,NaN,1.0,...,7,7,2,2,2,1,2,0,4,NaN
UK_29976396,2,51,United Kingdom,4,NaN,NaN,6.0,NaN,NaN,NaN,...,4,4,2,2,2,2,1,0,0,15616.762975
UK_29989388,1,25,United Kingdom,6,2.0,NaN,NaN,NaN,NaN,NaN,...,8,8,2,2,2,2,2,3,7,1922.063135
UK_29997615,1,38,United Kingdom,7,5.0,NaN,NaN,NaN,NaN,NaN,...,10,10,2,2,1,2,2,2,8,3603.868379

In [49]:
#see the new shape of the data now that we've dropped columns
data.shape

(48676, 127)

## Job description

In [50]:
#sorting out question 3A-I - refering to what job people do

In [51]:
data.Q3A_1_Q3.unique()

array([ 6,  2,  7,  5,  4,  3,  8,  9,  1, 11])

In [52]:
indexNames = data[data['Q3A_1_Q3'] == 11 ].index

In [53]:
#drop columns that end the rest of the questionnaire
data.drop(indexNames , inplace=True)

In [54]:
data.Q3A_1_Q3.unique()

array([6, 2, 7, 5, 4, 3, 8, 9, 1])

In [55]:
#job descriptions are more specific in these categories
#put them all together in a dataframe
job_description = data[['Q3C', 'Q3D', 'Q3E', 
             'Q3F', 'Q3G', 'Q3H', 'Q3I']]

In [56]:
#have a look at the dataframe
job_description

             Q3C  Q3D  Q3E  Q3F  Q3G  Q3H  Q3I
ID
AT_250002    5.0  NaN  NaN  NaN  NaN  NaN  NaN
AT_250003    NaN  NaN  NaN  NaN  6.0  NaN  NaN
AT_250004    1.0  NaN  NaN  NaN  NaN  NaN  NaN
AT_250005    NaN  1.0  NaN  NaN  NaN  NaN  NaN
AT_250006    4.0  NaN  NaN  NaN  NaN  NaN  NaN
...          ...  ...  ...  ...  ...  ...  ...
UK_29965068  2.0  NaN  NaN  NaN  NaN  NaN  NaN
UK_29975069  NaN  NaN  NaN  NaN  NaN  1.0  NaN
UK_29976396  NaN  NaN  6.0  NaN  NaN  NaN  NaN
UK_29989388  2.0  NaN  NaN  NaN  NaN  NaN  NaN
UK_29997615  5.0  NaN  NaN  NaN  NaN  NaN  NaN

[48426 rows x 7 columns]

In [57]:
#drop all values in question 3A-I that have 'none of the above' as an answer
#these are the highest number in each column

In [58]:
job_description['Q3C'].value_counts()

4.0    4049
1.0    3761
3.0    3136
5.0    3080
2.0    2621
6.0    1329
7.0     173
Name: Q3C, dtype: int64

In [59]:
job_description['Q3D'].value_counts()

1.0    3426
4.0    2763
2.0    2436
3.0    1733
5.0      32
Name: Q3D, dtype: int64

In [60]:
job_description['Q3E'].value_counts()

2.0    3252
1.0    1720
3.0    1165
4.0     711
5.0      81
6.0      49
Name: Q3E, dtype: int64

In [61]:
job_description['Q3F'].value_counts()

1.0    243
2.0     75
4.0     42
3.0     17
5.0      5
Name: Q3F, dtype: int64

In [62]:
job_description['Q3G'].value_counts()

3.0    1018
6.0     853
2.0     762
1.0     637
4.0     146
5.0     105
7.0       7
Name: Q3G, dtype: int64

In [63]:
job_description['Q3H'].value_counts()

3.0    1563
1.0    1256
2.0     369
4.0      18
Name: Q3H, dtype: int64

In [64]:
job_description['Q3I'].value_counts()

3.0    609
6.0    596
1.0    577
4.0    207
2.0     91
5.0     73
7.0     33
Name: Q3I, dtype: int64

### Drop all the 'none of the above's from job descriptions

In [65]:
indexNames = job_description[job_description['Q3C'] == 7.0].index
job_description.drop(indexNames , inplace=True)

In [66]:
#check dropping the value works
job_description['Q3C'].value_counts()

4.0    4049
1.0    3761
3.0    3136
5.0    3080
2.0    2621
6.0    1329
Name: Q3C, dtype: int64

In [67]:
indexNames = job_description[job_description['Q3D'] == 5.0].index
job_description.drop(indexNames , inplace=True)

In [68]:
indexNames = job_description[job_description['Q3E'] == 6.0].index
job_description.drop(indexNames , inplace=True)

In [69]:
indexNames = job_description[job_description['Q3F'] == 5.0].index
job_description.drop(indexNames , inplace=True)

In [70]:
indexNames = job_description[job_description['Q3G'] == 7.0].index
job_description.drop(indexNames , inplace=True)

In [71]:
indexNames = job_description[job_description['Q3H'] == 4.0].index
job_description.drop(indexNames , inplace=True)

In [72]:
indexNames = job_description[job_description['Q3I'] == 7.0].index
job_description.drop(indexNames , inplace=True)

### Convert all the job description information from numbers to strings 
And then rename all the job description numbers as the actual jobs

In [73]:
job_description['Q3C']= job_description['Q3C'].map(str)

In [74]:
job_description['Q3C'] = job_description['Q3C'].map({"1.0": "Science & Engineering", "2.0": "Health", "3.0": "Teaching", "4.0": "Business & Administration", 
                          "5.0": "Information & Communications Technology","6.0": "Legal, Social & Cultural"
                         })

In [75]:
#check that it works in the dataframe
job_description

,Q3C,Q3D,Q3E,Q3F,Q3G,Q3H,Q3I
ID,,,,,,,
AT_250002,Information & Communications Technology,NaN,NaN,NaN,NaN,NaN,NaN
AT_250003,NaN,NaN,NaN,NaN,6.0,NaN,NaN
AT_250004,Science & Engineering,NaN,NaN,NaN,NaN,NaN,NaN
AT_250005,NaN,1.0,NaN,NaN,NaN,NaN,NaN
AT_250006,Business & Administration,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
UK_29960676,Health,NaN,NaN,NaN,NaN,NaN,NaN
UK_29965068,Health,NaN,NaN,NaN,NaN,NaN,NaN
UK_29975069,NaN,NaN,NaN,NaN,NaN,1.0,NaN
UK_29989388,Health,NaN,NaN,NaN,NaN,NaN,NaN
UK_29997615,Information & Communications Technology,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
#and do the same to the other job description columns

In [77]:
job_description['Q3D']= job_description['Q3D'].map(str)

In [78]:
job_description['Q3D'] = job_description['Q3D'].map({"1.0": "General Clerk", "2.0": "Customer Services Clerk",
                               "3.0": "Numerical & Material Recording Clerk", "4.0": "Other Clerical Support Worker" 
                         })

In [79]:
job_description['Q3E']= job_description['Q3E'].map(str)

In [80]:
job_description['Q3E'] = job_description['Q3E'].map({"1.0": "Personal Services Worker", "2.0": "Sales Worker",
                               "3.0": "Personal Care Worker", "4.0": "Protective Service Worker",
                               "5.0": "Street or Related Sales & Services Worker"
                         })

In [81]:
job_description['Q3F']= job_description['Q3F'].map(str)

In [82]:
job_description['Q3F'] = job_description['Q3F'].map({"1.0": "Skilled Agricultural Worker", "2.0": "Skilled Forestry, Fishery & Hunting Worker",
                               "3.0": "Subsistance Farmer, Fisher, Hunter", 
                               "4.0": "Agricultural, Forestry & Fishery Labourer"
                         })

In [83]:
job_description['Q3G']= job_description['Q3G'].map(str)

In [84]:
job_description['Q3G'] = job_description['Q3G'].map({"1.0": "Electircal & Electronic Trades Worker", "2.0": "Building & Related Trades Worker", 
                               "3.0": "Metal & Machinery Trades Worker", "4.0": "Handicraft & Printing Worker", 
                              "5.0": "Labourer in Mining, Construction, Manufacturing & Transport",
                               "6.0": "Worker in Another Skilled Trade"
                         })

In [85]:
job_description['Q3H']= job_description['Q3H'].map(str)

In [86]:
job_description['Q3H'] = job_description['Q3H'].map({"1.0": "Stationary Plant or Machine Operator", 
                                                     "2.0": "Assembler", 
                               "3.0": "Drivers or Mobile Plant Operator"
                         })

In [87]:
job_description['Q3I']= job_description['Q3I'].map(str)

In [88]:
job_description['Q3I'] = job_description['Q3I'].map({"1.0": "Cleaner or Helper", 
                               "2.0": "Agricultural, Forestry & Fishery Labourer",
                               "3.0": "Labourer in Mining, Construction, Manufacturing or Transport",
                              "4.0": "Food Preparation Assistant", 
                              "5.0": "Street & other Sales or Services Worker", 
                              "6.0": "Another job requiring few or no skills"})

In [89]:
#check the final job description dataframe
job_description

,Q3C,Q3D,Q3E,Q3F,Q3G,Q3H,Q3I
ID,,,,,,,
AT_250002,Information & Communications Technology,NaN,NaN,NaN,NaN,NaN,NaN
AT_250003,NaN,NaN,NaN,NaN,Worker in Another Skilled Trade,NaN,NaN
AT_250004,Science & Engineering,NaN,NaN,NaN,NaN,NaN,NaN
AT_250005,NaN,General Clerk,NaN,NaN,NaN,NaN,NaN
AT_250006,Business & Administration,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
UK_29960676,Health,NaN,NaN,NaN,NaN,NaN,NaN
UK_29965068,Health,NaN,NaN,NaN,NaN,NaN,NaN
UK_29975069,NaN,NaN,NaN,NaN,NaN,Stationary Plant or Machine Operator,NaN
UK_29989388,Health,NaN,NaN,NaN,NaN,NaN,NaN
UK_29997615,Information & Communications Technology,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
#put together all the job description information into one column
job_description = job_description.bfill(axis=1).iloc[:, 0]

In [91]:
job_description

ID
AT_250002      Information & Communications Technology
AT_250003              Worker in Another Skilled Trade
AT_250004                        Science & Engineering
AT_250005                                General Clerk
AT_250006                    Business & Administration
                                ...
UK_29960676                                     Health
UK_29965068                                     Health
UK_29975069       Stationary Plant or Machine Operator
UK_29989388                                     Health
UK_29997615    Information & Communications Technology
Name: Q3C, Length: 48109, dtype: object

In [92]:
#put this information into a dataframe
job_description = pd.DataFrame(job_description)

In [93]:
#add the column to the data dataframe
data['job_description'] = job_description

In [94]:
#and check the dataframe
data

,resp_gender,resp_age,QCOUNTRY,Q3A_1_Q3,Q3C,Q3D,Q3E,Q3F,Q3G,Q3H,...,Q42_9_scale,Q44_1_scale,Q44_2_scale,Q44_3_scale,Q44_4_scale,Q46,Q49_1_scale,Q49_2_scale,salary,job_description
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,Austria,6,5.0,NaN,NaN,NaN,NaN,NaN,...,5,2,2,2,1,99,0,4,34000.000000,Information & Communications Technology
AT_250003,1,33,Austria,2,NaN,NaN,NaN,NaN,6.0,NaN,...,9,1,1,1,1,2,5,4,NaN,Worker in Another Skilled Trade
AT_250004,1,40,Austria,7,1.0,NaN,NaN,NaN,NaN,NaN,...,5,2,2,2,1,2,99,1,NaN,Science & Engineering
AT_250005,2,39,Austria,5,NaN,1.0,NaN,NaN,NaN,NaN,...,10,2,1,2,2,99,0,3,2100.000000,General Clerk
AT_250006,1,61,Austria,6,4.0,NaN,NaN,NaN,NaN,NaN,...,7,2,2,1,1,2,0,0,1500.000000,Business & Administration
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29965068,1,49,United Kingdom,7,2.0,NaN,NaN,NaN,NaN,NaN,...,8,1,2,2,2,1,3,2,5285.673622,Health
UK_29975069,2,52,United Kingdom,1,NaN,NaN,NaN,NaN,NaN,1.0,...,7,2,2,2,1,2,0,4,NaN,Stationary Plant or Machine Operator
UK_29976396,2,51,United Kingdom,4,NaN,NaN,6.0,NaN,NaN,NaN,...,4,2,2,2,2,1,0,0,15616.762975,NaN
UK_29989388,1,25,United Kingdom,6,2.0,NaN,NaN,NaN,NaN,NaN,...,8,2,2,2,2,2,3,7,1922.063135,Health
UK_29997615,1,38,United Kingdom,7,5.0,NaN,NaN,NaN,NaN,NaN,...,10,2,2,1,2,2,2,8,3603.868379,Information & Communications Technology

In [95]:
#drop the job description columns that are now not needed
data = data.drop(columns=['Q3C', 'Q3D', 'Q3E', 
             'Q3F', 'Q3G', 'Q3H', 'Q3I'])

In [96]:
#find out how many columns the dataframe now has
data.shape

(48426, 121)

In [97]:
#drop any Nans in the job description column
data = data.dropna( how='any',
                    subset=['job_description'])

In [98]:
#check the shape
data.shape

(44502, 121)

In [99]:
#and check to see what the dataframe looks like
data

,resp_gender,resp_age,QCOUNTRY,Q3A_1_Q3,Q4_1,Q4_2,Q4_3,Q5,Q6A,Q6C,...,Q42_9_scale,Q44_1_scale,Q44_2_scale,Q44_3_scale,Q44_4_scale,Q46,Q49_1_scale,Q49_2_scale,salary,job_description
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,Austria,6,1,0,0,1,10,6,...,5,2,2,2,1,99,0,4,34000.000000,Information & Communications Technology
AT_250003,1,33,Austria,2,0,1,0,1,5,3,...,9,1,1,1,1,2,5,4,NaN,Worker in Another Skilled Trade
AT_250004,1,40,Austria,7,1,0,0,1,5,5,...,5,2,2,2,1,2,99,1,NaN,Science & Engineering
AT_250005,2,39,Austria,5,1,0,0,2,13,6,...,10,2,1,2,2,99,0,3,2100.000000,General Clerk
AT_250006,1,61,Austria,6,1,0,0,2,13,5,...,7,2,2,1,1,2,0,0,1500.000000,Business & Administration
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29960676,2,39,United Kingdom,7,1,0,0,2,13,6,...,8,2,2,2,2,2,3,5,1321.418406,Health
UK_29965068,1,49,United Kingdom,7,1,0,0,1,12,88,...,8,1,2,2,2,1,3,2,5285.673622,Health
UK_29975069,2,52,United Kingdom,1,1,0,0,1,5,6,...,7,2,2,2,1,2,0,4,NaN,Stationary Plant or Machine Operator
UK_29989388,1,25,United Kingdom,6,1,0,0,3,15,2,...,8,2,2,2,2,2,3,7,1922.063135,Health
UK_29997615,1,38,United Kingdom,7,1,0,0,1,11,4,...,10,2,2,1,2,2,2,8,3603.868379,Information & Communications Technology

## Qualification Field

In [100]:
# put together all the qualification field categories into a new dataframe
qual_field = data[['Q1701', 'Q1702', 'Q1703', 'Q1704', 'Q1705', 'Q1706', 'Q1707', 'Q1708',
             'Q1709', 'Q1710', 'Q1711', 'Q1712', 'Q1713', 'Q1714']]

In [101]:
#convert them to strings
qual_field['Q1701']= qual_field['Q1701'].map(str)

In [102]:
#and input the actual qualification
qual_field['Q1701'] = qual_field['Q1701'].map({"1.0": "Teacher training & education sciences"})

In [103]:
#do the same for all the columns in the qual_field dataframe
qual_field['Q1702']= qual_field['Q1702'].map(str)

In [104]:
qual_field['Q1702'] = qual_field['Q1702'].map({"1.0": "Humanities, Languages & Arts"})

In [105]:
qual_field['Q1703']= qual_field['Q1703'].map(str)

In [106]:
qual_field['Q1703'] = qual_field['Q1703'].map({"1.0": "Economics, Business, Law & Finance"})

In [107]:
qual_field['Q1704']= qual_field['Q1704'].map(str)

In [108]:
qual_field['Q1704'] = qual_field['Q1704'].map({"1.0": "Social Sciences"})

In [109]:
qual_field['Q1705']= qual_field['Q1705'].map(str)

In [110]:
qual_field['Q1705'] = qual_field['Q1705'].map({"1.0": "Natural Sciences"})

In [111]:
qual_field['Q1706']= qual_field['Q1706'].map(str)

In [112]:
qual_field['Q1706'] = qual_field['Q1706'].map({"1.0": "Maths"})

In [113]:
qual_field['Q1707']= qual_field['Q1707'].map(str)

In [114]:
qual_field['Q1707'] = qual_field['Q1707'].map({"1.0": "Computing"})

In [115]:
qual_field['Q1708']= qual_field['Q1708'].map(str)

In [116]:
qual_field['Q1708'] = qual_field['Q1708'].map({"1.0": "Engineering"})

In [117]:
qual_field['Q1709']= qual_field['Q1709'].map(str)

In [118]:
qual_field['Q1709'] = qual_field['Q1709'].map({"1.0": "Agriculture & Vet Sciences"})

In [119]:
qual_field['Q1710']= qual_field['Q1710'].map(str)

In [120]:
qual_field['Q1710'] = qual_field['Q1710'].map({"1.0": "Medicine & Healthcare"})

In [121]:
qual_field['Q1711']= qual_field['Q1711'].map(str)

In [122]:
qual_field['Q1711'] = qual_field['Q1711'].map({"1.0": "Security, transport & personal services"})

In [123]:
qual_field['Q1712']= qual_field['Q1712'].map(str)

In [124]:
qual_field['Q1712'] = qual_field['Q1712'].map({"1.0": "Other specific subject areas"})

In [125]:
qual_field['Q1713']= qual_field['Q1713'].map(str)

In [126]:
qual_field['Q1713'] = qual_field['Q1713'].map({"1.0": "Not applicable"})

In [127]:
qual_field['Q1714']= qual_field['Q1714'].map(str).copy()

In [128]:
qual_field['Q1714'] = qual_field['Q1714'].map({"1.0": "Don't know"})

In [129]:
#put together the columns into one
qual_field = qual_field.bfill(axis=1).iloc[:, 0]

In [130]:
#and have a look at the number of values for each
qual_field.value_counts()

Economics, Business, Law & Finance         5366
Engineering                                2819
Teacher training & education sciences      2666
Other specific subject areas               2637
Humanities, Languages & Arts               2251
Medicine & Healthcare                      2060
Computing                                  1967
Natural Sciences                           1566
Social Sciences                            1222
Security, transport & personal services     737
Not applicable                              571
Maths                                       550
Agriculture & Vet Sciences                  381
Don't know                                  194
Name: Q1701, dtype: int64

In [131]:
#create a dataframe out of the qual_field
qual_field = pd.DataFrame(qual_field)

In [132]:
#add it to the previous data dataframe
data['qual_field'] = qual_field

In [133]:
#and drop the previous columns that are now not needed
data = data.drop(columns=['Q1701', 'Q1702', 'Q1703', 'Q1704', 'Q1705', 'Q1706',
             'Q1707', 'Q1708', 'Q1709', 'Q1710', 'Q1711', 'Q1712', 'Q1713', 'Q1714', ])

In [134]:
#check the new dataframe
data

,resp_gender,resp_age,QCOUNTRY,Q3A_1_Q3,Q4_1,Q4_2,Q4_3,Q5,Q6A,Q6C,...,Q44_1_scale,Q44_2_scale,Q44_3_scale,Q44_4_scale,Q46,Q49_1_scale,Q49_2_scale,salary,job_description,qual_field
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,Austria,6,1,0,0,1,10,6,...,2,2,2,1,99,0,4,34000.000000,Information & Communications Technology,NaN
AT_250003,1,33,Austria,2,0,1,0,1,5,3,...,1,1,1,1,2,5,4,NaN,Worker in Another Skilled Trade,NaN
AT_250004,1,40,Austria,7,1,0,0,1,5,5,...,2,2,2,1,2,99,1,NaN,Science & Engineering,NaN
AT_250005,2,39,Austria,5,1,0,0,2,13,6,...,2,1,2,2,99,0,3,2100.000000,General Clerk,NaN
AT_250006,1,61,Austria,6,1,0,0,2,13,5,...,2,2,1,1,2,0,0,1500.000000,Business & Administration,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29960676,2,39,United Kingdom,7,1,0,0,2,13,6,...,2,2,2,2,2,3,5,1321.418406,Health,Medicine & Healthcare
UK_29965068,1,49,United Kingdom,7,1,0,0,1,12,88,...,1,2,2,2,1,3,2,5285.673622,Health,Natural Sciences
UK_29975069,2,52,United Kingdom,1,1,0,0,1,5,6,...,2,2,2,1,2,0,4,NaN,Stationary Plant or Machine Operator,NaN
UK_29989388,1,25,United Kingdom,6,1,0,0,3,15,2,...,2,2,2,2,2,3,7,1922.063135,Health,"Economics, Business, Law & Finance"
UK_29997615,1,38,United Kingdom,7,1,0,0,1,11,4,...,2,2,1,2,2,2,8,3603.868379,Information & Communications Technology,"Humanities, Languages & Arts"

# Rename the columns
Rename the rest of the columns so they make more sense when looking at them quickly

In [135]:
data = data.rename(columns={'resp_gender': 'gender', 'resp_age': 'age', 'QCOUNTRY': 'country', 
                            'Q3A_1_Q3': 'current_job', 'Q4_1': 'work_situation_1', 'Q4_2': 'work_situation_2',
                           'Q4_3': 'work_situation_3', 'Q5': 'company_type',
                           'Q6A': 'company_industry', 'Q6C': 'company_size', 'Q8_1': 'role_changes_1',
                           'Q8_2': 'role_changes_2', 'Q8_3': 'role_changes_3', 'Q8_4': 'role_changes_4',
                           'Q8_5': 'role_changes_5', 'Q11': 'part/full_time',
                           'Q12': 'employment_contract', 'Q13_1_scale': 'non_routine_work', 'Q13_2_scale': 'learning_new_things',
                           'Q13_3_scale': 'choosing_way_work', 'Q13_4_scale': 'teamwork', 'Q14_1_scale': 'job_satisfaction',
                           'Q15': 'qual_level', 'Q16B': 'vocational_quals',
                           'Q19': 'qual_needed_have', 'Q20': 'qual_needed_do', 'Q20B': 'skill_rating',
                           'Q21A': 'literacy_needed', 'Q21B': 'numeracy_needed', 'Q21C': 'IT_needed',
                           'Q22B_1_scale': 'skill_relation_basic_lit', 'Q22B_2_scale': 'skill_relation_advanced_lit', 
                            'Q22B_3_scale': 'skill_relation_basic_numeracy','Q22B_4_scale': 'skill_relation_advanced_numeracy', 
                            'Q22B_5_scale': 'skill_relation_basic_ICT', 'Q22B_6_scale': 'skill_relation_moderate_ICT',
                           'Q22B_7_scale': 'skill_relation_advanced_ICT', 'Q23A_1_scale': 'skill_needed_technical',
                           'Q23A_2_scale': 'skill_needed_communication', 'Q23A_3_scale': 'skill_needed_teamwork',
                           'Q23A_4_scale': 'skill_needed_foreign_lang', 'Q23A_5_scale': 'skill_needed_customer_handling',
                           'Q23A_6_scale': 'skill_needed_problem_solving', 'Q23A_7_scale': 'skill_needed_learning',
                           'Q23A_8_scale': 'skill_needed_planning_organisation', 'Q23B_1_scale': 'skill_match_technical',
                           'Q23B_2_scale': 'skill_match_communication', 'Q23B_3_scale': 'skill_match_teamwork',
                           'Q23B_4_scale': 'skill_match_foreign_lang', 'Q23B_5_scale': 'skill_match_customer_handling',
                            'Q23B_6_scale': 'skill_match_problem_solving', 'Q23B_7_scale': 'skill_match_learning',
                            'Q23B_8_scale': 'skill_match_planning_organisation', 'Q24': 'skill_match',
                            'Q25_1_scale': 'skill_match_lower', 'Q26_1_scale': 'skill_match_higher',
                            'Q27_1_scale': 'skill_development', 'Q28_1': 'skill_development_training_courses', 
                            'Q28_2': 'skill_development_on_the_job', 'Q28_3': 'skill_development_interacting_colleagues', 
                            'Q28_4': 'skill_development_trial_error', 'Q28_5': 'skill_development_learnt_self',
                            'Q29_1_scale': 'skill_level_variety_tasks', 'Q_29_2_scale': 'skill_level_difficulty_task',
                            'Q_29_3_scale': 'skill_level_learn_new',
                            'Q30': 'skill_level',
                            'Q31_1_scale': 'skill_level_required_lower',
                            'Q32_1_scale': 'skill_level_required_higher', 'Q33_1': 'training_courses_at_work',
                            'Q33_2': 'training_courses_outside_work', 'Q33_3': 'training_courses_on_job',
                            'Q33_4': 'no_training',
                            'Q34_1': 'training_paid_you', 'Q34_2': 'training_paid_employer',
                            'Q34_3': 'training_paid_employer_part', 'Q34_4': 'training_paid_gvt',
                            'Q34_5': 'training_paid_someone_else',
                            'Q35_1': 'training_reasons_skill_need',
                            'Q35_2': 'training_reasons_comply',
                            'Q35_3': 'training_reasons_job_performance',
                            'Q35_4': 'training_reasons_career_prospects',
                            'Q35_5': 'training_reasons_personal',
                            'Q36_1': 'changes_workplace_technology',
                            'Q36_2': 'changes_workplace_methods',
                            'Q36_3': 'changes_workplace_products',
                            'Q36_4': 'changes_workplace_contact',
                            'Q37': 'changes_workplace_supported',
                            'Q40': 'employed_before',
                            'Q41': 'occupation_change',
                            'Q42_1_scale': 'factors_job_suited',
                            'Q42_2_scale': 'factors_work_experience',
                            'Q42_3_scale': 'factors_security',
                            'Q42_4_scale': 'factors_career_progression',
                            'Q42_5_scale': 'factors_company',
                            'Q42_6_scale': 'factors_pay',
                            'Q42_7_scale': 'factors_home',
                            'Q42_8_scale': 'factors_interesting',
                            'Q42_9_scale': 'factors_balance',
                            'Q44_1_scale': 'before_few_opportunities_skills',
                            'Q44_2_scale': 'before_few_opportunities_interviews',
                            'Q44_3_scale': 'before_finding_work',
                            'Q44_4_scale': 'before_more_offers',
                            'Q46': 'before_skill_level',
                            'Q49_1_scale': 'lose_job',
                            'Q49_2_scale': 'skills_outdated',
                            'salary': 'salary',
                            'job_description': 'job_description',
                            'qual_field': 'qual_field'
                           })

In [136]:
#check that the columns look right
data

,gender,age,country,current_job,work_situation_1,work_situation_2,work_situation_3,company_type,company_industry,company_size,...,before_few_opportunities_skills,before_few_opportunities_interviews,before_finding_work,before_more_offers,before_skill_level,lose_job,skills_outdated,salary,job_description,qual_field
ID,,,,,,,,,,,,,,,,,,,,,
AT_250002,1,25,Austria,6,1,0,0,1,10,6,...,2,2,2,1,99,0,4,34000.000000,Information & Communications Technology,NaN
AT_250003,1,33,Austria,2,0,1,0,1,5,3,...,1,1,1,1,2,5,4,NaN,Worker in Another Skilled Trade,NaN
AT_250004,1,40,Austria,7,1,0,0,1,5,5,...,2,2,2,1,2,99,1,NaN,Science & Engineering,NaN
AT_250005,2,39,Austria,5,1,0,0,2,13,6,...,2,1,2,2,99,0,3,2100.000000,General Clerk,NaN
AT_250006,1,61,Austria,6,1,0,0,2,13,5,...,2,2,1,1,2,0,0,1500.000000,Business & Administration,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK_29960676,2,39,United Kingdom,7,1,0,0,2,13,6,...,2,2,2,2,2,3,5,1321.418406,Health,Medicine & Healthcare
UK_29965068,1,49,United Kingdom,7,1,0,0,1,12,88,...,1,2,2,2,1,3,2,5285.673622,Health,Natural Sciences
UK_29975069,2,52,United Kingdom,1,1,0,0,1,5,6,...,2,2,2,1,2,0,4,NaN,Stationary Plant or Machine Operator,NaN
UK_29989388,1,25,United Kingdom,6,1,0,0,3,15,2,...,2,2,2,2,2,3,7,1922.063135,Health,"Economics, Business, Law & Finance"
UK_29997615,1,38,United Kingdom,7,1,0,0,1,11,4,...,2,2,1,2,2,2,8,3603.868379,Information & Communications Technology,"Humanities, Languages & Arts"

# Drop Data

In [137]:
#find out the percentage of the number of nans in each column.
data.isna().sum()/(len(data))*100

gender                                       0.000000
age                                          0.000000
country                                      0.000000
current_job                                  0.000000
work_situation_1                             0.000000
work_situation_2                             0.000000
work_situation_3                             0.000000
company_type                                 0.000000
company_industry                             0.000000
company_size                                 0.000000
role_changes_1                               0.000000
role_changes_2                               0.000000
role_changes_3                               0.000000
role_changes_4                               0.000000
role_changes_5                               0.000000
part/full_time                               0.000000
employment_contract                          0.000000
non_routine_work                             0.000000
learning_new_things                          0.000000
choosing_way_work                            0.000000
teamwork                                     0.000000
job_satisfaction                             0.000000
qual_level                                   0.000000
vocational_quals                            18.727248
qual_needed_have                             0.000000
qual_needed_do                               0.000000
skill_rating                                 0.000000
literacy_needed                              0.000000
numeracy_needed                              0.000000
IT_needed                                    0.000000
skill_relation_basic_lit                    57.527752
skill_relation_advanced_lit                 53.121208
skill_relation_basic_numeracy               41.047593
skill_relation_advanced_numeracy            73.230417
skill_relation_basic_ICT                    80.378410
skill_relation_moderate_ICT                 49.119141
skill_relation_advanced_ICT                 85.241113
skill_needed_technical                       0.000000
skill_needed_communication                   0.000000
skill_needed_teamwork                        0.000000
skill_needed_foreign_lang                    0.000000
skill_needed_customer_handling               0.000000
skill_needed_problem_solving                 0.000000
skill_needed_learning                        0.000000
skill_needed_planning_organisation           0.000000
skill_match_technical                        4.375084
skill_match_communication                    3.325693
skill_match_teamwork                         2.984136
skill_match_foreign_lang                    15.608287
skill_match_customer_handling               10.251225
skill_match_problem_solving                  2.952676
skill_match_learning                         2.813357
skill_match_planning_organisation            4.352613
skill_match                                  0.000000
skill_match_lower                           94.148578
skill_match_higher                          61.354546
skill_development                            0.000000
skill_development_training_courses          14.469013
skill_development_on_the_job                14.469013
skill_development_interacting_colleagues    14.469013
skill_development_trial_error               14.469013
skill_development_learnt_self               14.469013
skill_level_variety_tasks                    0.000000
skill_level_difficulty_task                  0.000000
skill_level_learn_new                        0.000000
skill_level                                  0.000000
skill_level_required_lower                  76.971821
skill_level_required_higher                 74.216889
training_courses_at_work                     0.000000
training_courses_outside_work                0.000000
training_courses_on_job                      0.000000
no_training                                  0.000000
training_paid_you                           32.252483
training_paid_employer                      32.252483
training_paid_employer_part                 32.252483
training_paid_gvt                           32.252483
training_paid_someone_else                  32.252483
training_reasons_skill_need                 32.252483
training_reasons_comply                     32.252483
training_reasons_job_performance            32.252483
training_reasons_career_prospects           32.252483
training_reasons_personal                   32.252483
changes_workplace_technology                 0.000000
changes_workplace_methods                    0.000000
changes_workplace_products                   0.000000
changes_workplace_contact                    0.000000
changes_workplace_supported                 39.178014
employed_before                             82.137881
occupation_change                            0.000000
factors_job_suited                           0.000000
factors_work_experience                      0.000000
factors_security                             0.000000
factors_career_progression                   0.000000
factors_company                              0.000000
factors_pay                                  0.000000
factors_home                                 0.000000
factors_interesting                          0.000000
factors_balance                              0.000000
before_few_opportunities_skills              0.000000
before_few_opportunities_interviews          0.000000
before_finding_work                          0.000000
before_more_offers                           0.000000
before_skill_level                           0.000000
lose_job                                     0.000000
skills_outdated                              0.000000
salary                                      32.663701
job_description                              0.000000
qual_field                                  43.851962
dtype: float64

In [138]:
#drop these automatically for the qualification field and salary
data.dropna(subset = ["qual_field", "salary"], inplace=True)

In [139]:
#check the shape of the data
data.shape

(16935, 108)

In [140]:
#find out the percentage of the number of nans in each column.
data.isna().sum()/(len(data))*100

gender                                       0.000000
age                                          0.000000
country                                      0.000000
current_job                                  0.000000
work_situation_1                             0.000000
work_situation_2                             0.000000
work_situation_3                             0.000000
company_type                                 0.000000
company_industry                             0.000000
company_size                                 0.000000
role_changes_1                               0.000000
role_changes_2                               0.000000
role_changes_3                               0.000000
role_changes_4                               0.000000
role_changes_5                               0.000000
part/full_time                               0.000000
employment_contract                          0.000000
non_routine_work                             0.000000
learning_new_things                          0.000000
choosing_way_work                            0.000000
teamwork                                     0.000000
job_satisfaction                             0.000000
qual_level                                   0.000000
vocational_quals                            11.207558
qual_needed_have                             0.000000
qual_needed_do                               0.000000
skill_rating                                 0.000000
literacy_needed                              0.000000
numeracy_needed                              0.000000
IT_needed                                    0.000000
skill_relation_basic_lit                    65.414821
skill_relation_advanced_lit                 40.454680
skill_relation_basic_numeracy               42.964275
skill_relation_advanced_numeracy            66.713906
skill_relation_basic_ICT                    85.544730
skill_relation_moderate_ICT                 40.525539
skill_relation_advanced_ICT                 80.531444
skill_needed_technical                       0.000000
skill_needed_communication                   0.000000
skill_needed_teamwork                        0.000000
skill_needed_foreign_lang                    0.000000
skill_needed_customer_handling               0.000000
skill_needed_problem_solving                 0.000000
skill_needed_learning                        0.000000
skill_needed_planning_organisation           0.000000
skill_match_technical                        3.076469
skill_match_communication                    2.161205
skill_match_teamwork                         1.836433
skill_match_foreign_lang                    11.201653
skill_match_customer_handling                7.499262
skill_match_problem_solving                  1.871863
skill_match_learning                         1.570712
skill_match_planning_organisation            2.432831
skill_match                                  0.000000
skill_match_lower                           93.699439
skill_match_higher                          57.112489
skill_development                            0.000000
skill_development_training_courses          12.075583
skill_development_on_the_job                12.075583
skill_development_interacting_colleagues    12.075583
skill_development_trial_error               12.075583
skill_development_learnt_self               12.075583
skill_level_variety_tasks                    0.000000
skill_level_difficulty_task                  0.000000
skill_level_learn_new                        0.000000
skill_level                                  0.000000
skill_level_required_lower                  75.890168
skill_level_required_higher                 71.183939
training_courses_at_work                     0.000000
training_courses_outside_work                0.000000
training_courses_on_job                      0.000000
no_training                                  0.000000
training_paid_you                           25.373487
training_paid_employer                      25.373487
training_paid_employer_part                 25.373487
training_paid_gvt                           25.373487
training_paid_someone_else                  25.373487
training_reasons_skill_need                 25.373487
training_reasons_comply                     25.373487
training_reasons_job_performance            25.373487
training_reasons_career_prospects           25.373487
training_reasons_personal                   25.373487
changes_workplace_technology                 0.000000
changes_workplace_methods                    0.000000
changes_workplace_products                   0.000000
changes_workplace_contact                    0.000000
changes_workplace_supported                 33.540006
employed_before                             83.950399
occupation_change                            0.000000
factors_job_suited                           0.000000
factors_work_experience                      0.000000
factors_security                             0.000000
factors_career_progression                   0.000000
factors_company                              0.000000
factors_pay                                  0.000000
factors_home                                 0.000000
factors_interesting                          0.000000
factors_balance                              0.000000
before_few_opportunities_skills              0.000000
before_few_opportunities_interviews          0.000000
before_finding_work                          0.000000
before_more_offers                           0.000000
before_skill_level                           0.000000
lose_job                                     0.000000
skills_outdated                              0.000000
salary                                       0.000000
job_description                              0.000000
qual_field                                   0.000000
dtype: float64

In [141]:
#get rid of those with too many nans - I've decided here that this is greater than a third
#anything more doesn't give us meaningful results, however if there are just a few we can turn them to 'don't knows'
data = data.drop(columns=['skill_match_lower', 'skill_match_higher', 'employed_before',
                         'skill_relation_basic_lit', 'skill_relation_advanced_lit',
                         'skill_relation_basic_numeracy', 'skill_relation_advanced_numeracy',
                         'skill_relation_basic_ICT', 'skill_relation_moderate_ICT',
                         'skill_relation_advanced_ICT', 'skill_level_required_higher',
                          'skill_level_required_lower'
                         ])

In [142]:
#check the shape of the data
data.shape

(16935, 96)

In [143]:
#find out the percentage of the number of nans in each column.
data.isna().sum()/(len(data))*100

gender                                       0.000000
age                                          0.000000
country                                      0.000000
current_job                                  0.000000
work_situation_1                             0.000000
work_situation_2                             0.000000
work_situation_3                             0.000000
company_type                                 0.000000
company_industry                             0.000000
company_size                                 0.000000
role_changes_1                               0.000000
role_changes_2                               0.000000
role_changes_3                               0.000000
role_changes_4                               0.000000
role_changes_5                               0.000000
part/full_time                               0.000000
employment_contract                          0.000000
non_routine_work                             0.000000
learning_new_things                          0.000000
choosing_way_work                            0.000000
teamwork                                     0.000000
job_satisfaction                             0.000000
qual_level                                   0.000000
vocational_quals                            11.207558
qual_needed_have                             0.000000
qual_needed_do                               0.000000
skill_rating                                 0.000000
literacy_needed                              0.000000
numeracy_needed                              0.000000
IT_needed                                    0.000000
skill_needed_technical                       0.000000
skill_needed_communication                   0.000000
skill_needed_teamwork                        0.000000
skill_needed_foreign_lang                    0.000000
skill_needed_customer_handling               0.000000
skill_needed_problem_solving                 0.000000
skill_needed_learning                        0.000000
skill_needed_planning_organisation           0.000000
skill_match_technical                        3.076469
skill_match_communication                    2.161205
skill_match_teamwork                         1.836433
skill_match_foreign_lang                    11.201653
skill_match_customer_handling                7.499262
skill_match_problem_solving                  1.871863
skill_match_learning                         1.570712
skill_match_planning_organisation            2.432831
skill_match                                  0.000000
skill_development                            0.000000
skill_development_training_courses          12.075583
skill_development_on_the_job                12.075583
skill_development_interacting_colleagues    12.075583
skill_development_trial_error               12.075583
skill_development_learnt_self               12.075583
skill_level_variety_tasks                    0.000000
skill_level_difficulty_task                  0.000000
skill_level_learn_new                        0.000000
skill_level                                  0.000000
training_courses_at_work                     0.000000
training_courses_outside_work                0.000000
training_courses_on_job                      0.000000
no_training                                  0.000000
training_paid_you                           25.373487
training_paid_employer                      25.373487
training_paid_employer_part                 25.373487
training_paid_gvt                           25.373487
training_paid_someone_else                  25.373487
training_reasons_skill_need                 25.373487
training_reasons_comply                     25.373487
training_reasons_job_performance            25.373487
training_reasons_career_prospects           25.373487
training_reasons_personal                   25.373487
changes_workplace_technology                 0.000000
changes_workplace_methods                    0.000000
changes_workplace_products                   0.000000
changes_workplace_contact                    0.000000
changes_workplace_supported                 33.540006
occupation_change                            0.000000
factors_job_suited                           0.000000
factors_work_experience                      0.000000
factors_security                             0.000000
factors_career_progression                   0.000000
factors_company                              0.000000
factors_pay                                  0.000000
factors_home                                 0.000000
factors_interesting                          0.000000
factors_balance                              0.000000
before_few_opportunities_skills              0.000000
before_few_opportunities_interviews          0.000000
before_finding_work                          0.000000
before_more_offers                           0.000000
before_skill_level                           0.000000
lose_job                                     0.000000
skills_outdated                              0.000000
salary                                       0.000000
job_description                              0.000000
qual_field                                   0.000000
dtype: float64

In [144]:
#check the type of values in the columns to see whether there is anything else wrong
data.dtypes

gender                                        int64
age                                           int64
country                                      object
current_job                                   int64
work_situation_1                              int64
work_situation_2                              int64
work_situation_3                              int64
company_type                                  int64
company_industry                              int64
company_size                                  int64
role_changes_1                                int64
role_changes_2                                int64
role_changes_3                                int64
role_changes_4                                int64
role_changes_5                                int64
part/full_time                                int64
employment_contract                           int64
non_routine_work                              int64
learning_new_things                           int64
choosing_way_work                             int64
teamwork                                      int64
job_satisfaction                              int64
qual_level                                    int64
vocational_quals                            float64
qual_needed_have                              int64
qual_needed_do                                int64
skill_rating                                  int64
literacy_needed                               int64
numeracy_needed                               int64
IT_needed                                     int64
skill_needed_technical                        int64
skill_needed_communication                    int64
skill_needed_teamwork                         int64
skill_needed_foreign_lang                     int64
skill_needed_customer_handling                int64
skill_needed_problem_solving                  int64
skill_needed_learning                         int64
skill_needed_planning_organisation            int64
skill_match_technical                       float64
skill_match_communication                   float64
skill_match_teamwork                        float64
skill_match_foreign_lang                    float64
skill_match_customer_handling               float64
skill_match_problem_solving                 float64
skill_match_learning                        float64
skill_match_planning_organisation           float64
skill_match                                   int64
skill_development                             int64
skill_development_training_courses          float64
skill_development_on_the_job                float64
skill_development_interacting_colleagues    float64
skill_development_trial_error               float64
skill_development_learnt_self               float64
skill_level_variety_tasks                     int64
skill_level_difficulty_task                   int64
skill_level_learn_new                         int64
skill_level                                   int64
training_courses_at_work                      int64
training_courses_outside_work                 int64
training_courses_on_job                       int64
no_training                                   int64
training_paid_you                           float64
training_paid_employer                      float64
training_paid_employer_part                 float64
training_paid_gvt                           float64
training_paid_someone_else                  float64
training_reasons_skill_need                 float64
training_reasons_comply                     float64
training_reasons_job_performance            float64
training_reasons_career_prospects           float64
training_reasons_personal                   float64
changes_workplace_technology                  int64
changes_workplace_methods                     int64
changes_workplace_products                    int64
changes_workplace_contact                     int64
changes_workplace_supported                 float64
occupation_change                             int64
factors_job_suited                            int64
factors_work_experience                       int64
factors_security                              int64
factors_career_progression                    int64
factors_company                               int64
factors_pay                                   int64
factors_home                                  int64
factors_interesting                           int64
factors_balance                               int64
before_few_opportunities_skills               int64
before_few_opportunities_interviews           int64
before_finding_work                           int64
before_more_offers                            int64
before_skill_level                            int64
lose_job                                      int64
skills_outdated                               int64
salary                                      float64
job_description                              object
qual_field                                   object
dtype: object

# Data Dictionary
Data dictionary based on the questions from the questionaire identifying all the columns that we still have

##### 1. gender: male = 1, female = 2 (data type = int)

2. age: - age recorded as a person's age at time of survey (data type = int)

3. country: one of the 28 European countries (data type = object)

4. current_job: (data type = int) 
        1. Plant & Machine Operator & Assembler
        2. Building, Crafts or Related Trade
        3. Skilled Agricultural, Forestry and Fishery Worker
        4. Sales, Customer or Personal Service Worker
        5. Clerical Support
        6. Technician or Associate Professional
        7. Professional
        8. Manager
        9. Elementary occupations
    
5. work_situation_1: Which of the following best describes your situation at work? I work for an organisation with more than one workplace 1 = yes, 0 = no (data type = int64)   

6. work_situation_2: Which of the following best describes your situation at work? I work for an organization with only one workplace 1 = yes, 0 = no (data type = int64)

7. work_situation_3: Which of the following best describes your situation at work? It varies/I have no regular/fixed workplace (e.g. work from home, at clientsâ€™ premises etc.) 1 = yes, 0 = no (data type = int64)

8. company_type: Which of the following best describes the type of organisation you currently work for? (data type = int) 
        1. A private company or partnership
        2. A national, regional or local public sector organisation
        3. A not-for-profit trust, charity or non-Governmental organisation 
        4. Another type of organisation
        5. Donâ€™t know

9. company_industry: What is the main activity carried out by your workplace? (data type = int) 
        1. Administration and support services, including public administration and defence 
        2. Agriculture, horticulture, forestry or fishing
        3. Supply of gas or electricity, mining or quarrying
        4. Supply, management or treatment of water or steam
        5. Manufacturing or engineering
        6. Construction or building
        7. Retail, sales, shop work or whole sale
        8. Accommodation, catering or food services 
        9. Transportation or storage
        10.Information technology or communication services 
        11.Financial, insurance, or real estate services 
        12.Professional, scientific or technical services 
        13.Services relating to education or health
        14.Cultural industries (arts, entertainment or recreation) 
        15.Social and personal services
        16.Something else

10. company_size: Approximately how many people work in your workplace? (data type = int)     
        1. 1-9
        2. 10-49
        3. 50-99
        4. 100-249
        5. 250-499
        6. 500 and over
        7. It varies
        9. Not applicable/do not have a regular/fixed workplace 
        8. Donâ€™t know

11. role_changes_1: Since you started working for your current employer, have any of the following changes in your role taken place? I have been promoted to a higher level position 1 = yes, 0 = no (data type = int64)    

12. role_changes_2: Since you started working for your current employer, have any of the following changes in your role taken place? I moved to a different unit/department 1 = yes, 0 = no (data type = int64) 

13. role_changes_3: Since you started working for your current employer, have any of the following changes in your role taken place? I have not been promoted or moved department but the nature of my tasks and responsibilities have changed 1 = yes, 0 = no (data type = int64) 

14. role_changes_4: Since you started working for your current employer, have any of the following changes in your role taken place? I now have a lower level position than when I started 1 = yes, 0 = no (data type = int64)

15. role_changes_5: Since you started working for your current employer, have any of the following changes in your role taken place? No changes, my role has remained the same 1 = yes, 0 = no (data type = int64)

16. part/full_time: In your current job do you work on a part-time or on a full-time basis? (data type = int64)
        1. Part-time
        2. Full-time
        3. Donâ€™t know

17. employment_contract: What kind of employment contract, if any, do you have in your current job? (data type = int64)  
        1. An indefinite/permanent contract
        2. A fixed term/temporary contract
        3. A temporary employment agency contract 
        4. I do not have a formal contract
        5. Other
        6. Donâ€™t know

18. non_routine_work: How often, if at all, does your job involve the following? Responding to non-routine situations during the course of your daily work (data type = int64)  
        1. Always
        2. Usually
        3. Sometimes 
        4. Never
        5. Donâ€™t know

19. learning_new_things: How often, if at all, does your job involve the following? Learning new things (data type = int64) 
        1. Always
        2. Usually
        3. Sometimes 
        4. Never
        5. Donâ€™t know
        
20. choosing_way_work: How often, if at all, does your job involve the following? Choosing yourself the way in which you do your work (data type = int64) 
        1. Always
        2. Usually
        3. Sometimes 
        4. Never
        5. Donâ€™t know
        
21. teamwork: How often, if at all, does your job involve the following? Working as part of a team (data type = int64) 
        1. Always
        2. Usually
        3. Sometimes 
        4. Never
        5. Donâ€™t know 
        
22. job_satisfaction: On a scale from 0 to 10, where 0 means very dissatisfied, 5 means neither satisfied nor dissatisfied and 10 means very satisfied, how satisfied are you with your job? (data type = int64) 
        0. 0 Very dissatisfied 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Neither satisfied nor dissatisfied 6. 6
        7. 7
        8. 8
        9. 9
        10.10 Very satisfied
        11. Donâ€™t know
        
23. qual_level: What is the highest level of education or training that you have completed? (data type = int64)                1. No completed education
        2. Primary education (ISCED 1)
        3. Lower secondary education (ISCED 2)
        4. Upper secondary education (ISCED 3)
        5. Post-secondary including pre-vocational or vocational education but not tertiary (ISCED 4) 
        6. Tertiary education â€“ first level (ISCED 5)
        7. Tertiary education â€“ advanced level (ISCED 6)
        8. Donâ€™t know                 
        
24. vocational_quals: Did your study take place only within an educational institution or did it involve some learning in a workplace?(data type = float64) 
        1. Took place only within an educational institution
        2. It involved some learning in a workplace 
        3. Donâ€™t know
        4. Not applicable

25. qual_needed_have: If someone was applying for your job today, what qualifications, if any, would they need to get the job? (data type = int64) 
        1. No completed education
        2. Primary education (ISCED 1)
        3. Lower secondary education (ISCED 2)
        4. Upper secondary education (ISCED 3)
        5. Post-secondary including pre-vocational or vocational education but not tertiary (ISCED 4) 
        6. Tertiary education â€“ first level (ISCED 5)
        7. Tertiary education â€“ advanced level (ISCED 6)
        8. Donâ€™t know
        9. Not applicable â€“ no educational qualifications are needed
        
26. qual_needed_do: What are the educational qualifications, if any, which someone actually needs to do your job today? (data type = int64)               
        1. No completed education
        2. Primary education (ISCED 1)
        3. Lower secondary education (ISCED 2)
        4. Upper secondary education (ISCED 3)
        5. Post-secondary including pre-vocational or vocational education but not tertiary (ISCED 4) 
        6. Tertiary education â€“ first level (ISCED 5)
        7. Tertiary education â€“ advanced level (ISCED 6)
        8. Donâ€™t know
        9. Not applicable â€“ no educational qualifications are needed
        
        
27. skill_rating: Think about the level of skills needed to do your job as well as possible. How would you rate your own level of skills? Answer on a scale of 0 to 100, where 0 means you need to develop all of your skills and 100 means you have all the skills you need (data type = int64)  

28. literacy_needed: Which of the following best describes the highest level of literacy skills required for doing your job? (data type = int64) 
        1. Basic literacy (e.g. Reading manuals, procedures, letters or memos)
        2. Advanced literacy (e.g. Writing long documents such as long reports, handbooks, articles or books)
        3. Donâ€™t know
        4. Not applicable/Literacy skills are not required 
        
29. numeracy_needed:  Which of the following best describes the highest level of numeracy skills required for doing your job? (data type = int64)
        1. Basic numeracy (e.g. Calculations using decimals, percentages or fractions, understanding tables and graphs)
        2. Advanced numeracy (e.g. Calculations using advanced mathematical or statistical procedures) 
        3. Donâ€™t know
        4. Not applicable/Numeracy skills are not required
        
        
30. IT_needed: Which of the following best describes the highest level of Information Communication Technology skills required for doing your job? (data type = int64)
        1. Basic ICT (e.g. Using a PC, tablet or mobile device for email, internet browsing)
        2. Moderate ICT (e.g. Word-processing, using or creating documents and/or spreadsheets)
        3. Advanced ICT (e.g. Developing software, applications or programming; use computer syntax or statistical analysis packages)
        4. Donâ€™t know
        5. Not applicable/ICT skills are not required 
        
31. skill_needed_technical: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are technical skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required 

32. skill_needed_communication: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are commincation skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required                  
        
33. skill_needed_teamwork: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are team-working skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required     
        
34. skill_needed_foreign_lang: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are foreign language skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required 
        
35. skill_needed_customer_handling: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are cusomter handling skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required                
        
36. skill_needed_problem_solving:: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are problem solving skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required 
        
37. skill_needed_learning: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are learning skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required                         
        
38. skill_needed_planning_organisation: On a scale from 0 to 10, where 0 means not at all important, 5 means moderately important and 10 means essential, how important are planning and organisation skills for doing your job? (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential
        11. Donâ€™t know
        12. Skill is not required           
        
39. skill_match_technical: How would you best describe your technical skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know
        
40. skill_match_communication: How would you best describe your communication skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know
    
41. skill_match_teamwork: How would you best describe your team-work skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know
       
42. skill_match_foreign_lang: : How would you best describe your foreign language skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know
       
43. skill_match_customer_handling: How would you best describe your customer handling skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know
       
44. skill_match_problem_solving: How would you best describe your problem solving skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know                 
        
45. skill_match_learning: How would you best describe your learning skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know
        
46. skill_match_planning_organisation: How would you best describe your planning and organisation skills in relation to what is required to do your job? Please use a scale of 0 to 10 where 0 means your level of skill is a lot lower than required, 5 means your level of skill is matched to what is required and 10 means your level of skill is a lot higher than required. (data type = float64)
        0. 0 My level of skill is a lot lower than required 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My level of skill is matched to what is required 
        6. 6 
        7. 7
        8. 8
        9. 9
        10. 10 My level of skill is a lot higher than required 
        11. Donâ€™t know           
        
47. skill_match: Overall, how would you best describe your skills in relation to what is required to do your job?(data type = int64)
        1 My skills are higher than required by my job
        2 My skills are matched to what is required by my job
        3 Some of my skills are lower than what is required by my job and need to be further developed 
        4 Donâ€™t know
        
48. skill_development: Compared to when you started your job with your current employer, would you say your skills have now improved, worsened or stayed the same? (data type = int64)
        0. 0 My skills have worsened a lot
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 My skills have stayed the same 
        6. 6
        7. 7
        8. 8
        9. 9
        10. 10 My skills have improved a lot 
        11. Donâ€™t know
        12. The skills I have now cannot be compared to those I had when I started my job 
        
49. skill_development_training_courses: Since you started your job with your current employer, have you attended training courses to improve or acquire new skills? 1=yes, 0=no, 2=N/A (data type = float64)

50. skill_development_on_the_job: Since you started your job with your current employer, has your supervisor taught you on-the-job to improve or acquire new skills? 1=yes, 0=no, 2=N/A  (data type = float64)

51. skill_development_interacting_colleagues: Since you started your job with your current employer, have you learned by interacting with colleagues at work? 1=yes, 0=no, 2=N/A  (data type = float64)

52. skill_development_trial_error: Since you started your job with your current employer, have you learned at work through trial and error? 1=yes, 0=no, 2=N/A  (data type = float64)

53. skill_development_learnt_self: Since you started your job with your current employer, have you learned by yourself? 1=yes, 0=no, 2=N/A  (data type = float64)

54. skill_level_variety_tasks: Has the variety of tasks increased, decreased or remained the same since you started your job with your current employer? (data type = int64)
        0. 0 Decreased a lot 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Stayed the same 
        6. 6
        7. 7
        8. 8
        9. 9
        10. 10 Increased a lot 
        11. Donâ€™t know

55. skill_level_difficulty_tasks: Has the difficulty of tasks increased, decreased or remained the same since you started your job with your current employer? (data type = int64)
        0. 0 Decreased a lot 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Stayed the same 
        6. 6
        7. 7
        8. 8
        9. 9
        10. 10 Increased a lot 
        11. Donâ€™t know    
        
56. skill_level_learn_new: Has the need to learn new things increased, decreased or remained the same since you started your job with your current employer? (data type = int64)
        0. 0 Decreased a lot 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Stayed the same 
        6. 6
        7. 7
        8. 8
        9. 9
        10. 10 Increased a lot 
        11. Donâ€™t know

57. skill_level: When you started your job with your current employer, overall, how would you best describe your skills in relation to what was required to do your job at that time? (data type = int64)
        1 My skills were higher than required by my job
        2 My skills were matched to what was required by my job
        3 Some of my skills were lower than what was required by my job and needed to be further developed 
        4 Donâ€™t know

58. training_courses_at_work: In the last 12 months/Since you started your job, have you undergone any training at work for your current job? 1=yes, 0=no (data type = int64)

59. training_courses_outside_work: In the last 12 months/Since you started your job, have you undergone any training outside work for your current job? 1=yes, 0=no (data type = int64)    

60. training_courses_on_job: In the last 12 months/Since you started your job, have you undergone any training whilst performing your regular job? 1=yes, 0=no (data type = int64)  

61. no_training: In the last 12 months/Since you started your job, have you not undergone any training? 1=yes, 0=no (data type = int64)                                  

62. training_paid_you: Did you pay for this training? 1=yes, 0=no, 2=N/A  (data type = float64)                                  
63. training_paid_employer: Did your employer pay for this training? 1=yes, 0=no, 2=N/A  (data type = float64) 

64. training_paid_employer_part: Did your employer pay for part of this training? 1=yes, 0=no, 2=N/A  (data type = float64) 

65. training_paid_gvt: Did the government or other public sector pay for this training? 1=yes, 0=no, 2=N/A  (data type = float64)      

66. training_paid_someone_else: Did another organisation pay for this training? 1=yes, 0=no, 2=N/A  (data type = float64)                     
67. training_reasons_skill_need: What were your main reasons for doing this training? To stay up-to-date with changing skill needs of the job 1=yes, 0=no, 2=N/A  (data type = float64)

68. training_reasons_comply: What were your main reasons for doing this training? To comply with mandatory policy of employer or legal requirement 1=yes, 0=no, 2=N/A  (data type = float64)

69. training_reasons_job_performance: What were your main reasons for doing this training? To perform better at the job 1=yes, 0=no, 2=N/A  (data type = float64)

70. training_reasons_dont_know: What were your main reasons for doing this training? To improve career prospects 1=yes, 0=no, 2=N/A  (data type = float64)                 

71. training_reasons_personal: What were your main reasons for doing this training? For personal/non job-related reasons 1=yes, 0=no, 2=N/A  (data type = float64)     

72. changes_workplace_technology: In the last 5 years/Since you started your main job, have there been changes to the technologies you use in your workplace? 1=yes, 0=no (data type = int64)  

73. changes_workplace_methods: In the last 5 years/Since you started your main job, have there been changes to your working methods and practices in your workplace? 1=yes, 0=no (data type = int64)

74. changes_workplace_products: In the last 5 years/Since you started your main job, have there been changes tto the products/services you help to produce in your workplace? 1=yes, 0=no (data type = int64)

75. changes_workplace_contact: In the last 5 years/Since you started your main job, have there been changes to the amount of contact you have with clients or customers in your workplace? 1=yes, 0=no (data type = int64)

76. occupation_change: Were you working in the same occupation in your previous job as in your current job? (data type = int64)
        1. Exactly the same
        2. Similar
        3. Different
        4. My current job is my first job 
        5. Donâ€™t know

77. changes_workplace_supported: Were any of these changes supported by training activities paid for by your employer?  (data type = float64)
        1. I received training for all of the changes
        2. I received training for some of the changes 
        3. I did not receive any training
        4. Donâ€™t know

78. factors_job_suited: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? The job suited your qualifications and skills (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable 

79. factors_work_experience: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? You wanted to gain some work experience (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable                     
        
80. factors_security: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? The job provided security (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable
         
81. factors_career_progression: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? The job offered good career progression/career development (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable                
         
82. factors_company: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? The company/organisation was well known/respected in its field (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable 
        
83. factors_pay: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? The pay and package of benefits was good (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable
         
84. factors_home: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? The job was close to home (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable
        
85. factors_interesting: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? You were interested in the nature of the work itself (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable
       
86. factors_balance: Before you started working for your current employer, how important, if at all, was the following factor in your decision to accept the job? The job had a good work-life balance (data type = int64)
        0. 0 Not at all important 
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5 Moderately important 
        6. 6
        7. 7
        8. 8
        9. 9
        10.10 Essential 
        11. Donâ€™t know
        12. Not applicable
         
87. before_few_opportunities_skills: Did any of the following circumstances also apply before you started working for your current employer? There were few job opportunities available for people with my skills and qualifications. 
        1. Yes
        2. No
        3. Donâ€™t know 
        (data type = int64)

88. before_few_opportunities_interviews: Did any of the following circumstances also apply before you started working for your current employer? Despite sending many job applications, I had few opportunities to attend job interviews. 
        1. Yes
        2. No
        3. Donâ€™t know 
        (data type = int64)

89. before_finding_work: Did any of the following circumstances also apply before you started working for your current employer?  I devoted most of my time to finding a job  
         1. Yes
         2. No
         3. Donâ€™t know 
        (data type = int64) 
        
90. before_more_offers: Did any of the following circumstances also apply before you started working for your current employer? I turned down one or more jobs that were offered to me. 
         1. Yes
         2. No
         3. Donâ€™t know 
        (data type = int64)
        
91. before_skill_level: When working in your previous job, overall, how would you best describe your skills in relation to what was required to do the job at that time? (data type = int64)
         1. My skills were higher than required by my previous job
         2. My skills were matched to what was required by my previous job
         3. Some of my skills were lower than what was required by my previous job and needed to be further developed
         4. Don't know
         
92. lose_job: How likely or unlikely do you think it is that each of the following may happen? I will lose my job in the next year. (data type = int64) 
          0. 0 Very unlikely 
          1. 1
          2. 2
          3. 3
          4. 4
          5. 5
          6. 6
          7. 7
          8.8
          9.9
          10.10 Very likely 
          11. Donâ€™t know
          
93. skills_outdated: How likely or unlikely do you think it is that each of the following may happen? Several of my skills will become outdated in the next five years (data type = int64) 
          0. 0 Very unlikely 
          1. 1
          2. 2
          3. 3
          4. 4
          5. 5
          6. 6
          7. 7
          8.8
          9.9
          10.10 Very likely 
          11. Donâ€™t know
          
94. salary: On average, how much is your gross monthly earnings from your job (before deductions or credits of tax and national insurance)? (data type = float64) 

95. job_description: Which of the following best describes the focus of your current professional or technical work? (data type = object) 

96. qual_field: What was the main area or field of your highest level of qualification? (data type = object)

In [145]:
#for i, j in data.iterrows():
    #print(i, j)
    #print()

# Don't Knows & Not Applicables
Lots of the data includes 'don't knows' and 'not applicables'. I want to keep these, however they are often mapped at either 99 or 88 rather than at the number one higher than the rest of the data. This means that when they are visualised the graphs make very little sense. Therefore I need to turn all the 'don't knows' and 'not applicables' to different numbers depending on the rest of the numbering in the column.

In [146]:
#if questions are 0-10, turn #99 into #11 
data.loc[data['skill_needed_technical'] == 99, 'skill_needed_technical'] = 11
data.loc[data['skill_needed_communication'] == 99, 'skill_needed_communication'] = 11
data.loc[data['skill_needed_teamwork'] == 99, 'skill_needed_teamwork'] = 11
data.loc[data['skill_needed_foreign_lang'] == 99, 'skill_needed_foreign_lang'] = 11
data.loc[data['skill_needed_customer_handling'] == 99, 'skill_needed_customer_handling'] = 11
data.loc[data['skill_needed_problem_solving'] == 99, 'skill_needed_problem_solving'] = 11
data.loc[data['skill_needed_learning'] == 99, 'skill_needed_learning'] = 11
data.loc[data['skill_needed_planning_organisation'] == 99, 'skill_needed_planning_organisation'] = 11
data.loc[data['skill_match_technical'] == 99, 'skill_match_technical'] = 11
data.loc[data['skill_match_communication'] == 99, 'skill_match_communication'] = 11
data.loc[data['skill_match_teamwork'] == 99, 'skill_match_teamwork'] = 11
data.loc[data['skill_match_foreign_lang'] == 99, 'skill_match_foreign_lang'] = 11
data.loc[data['skill_match_customer_handling'] == 99, 'skill_match_customer_handling'] = 11
data.loc[data['skill_match_problem_solving'] == 99, 'skill_match_problem_solving'] = 11
data.loc[data['skill_match_learning'] == 99, 'skill_match_learning'] = 11
data.loc[data['skill_match_planning_organisation'] == 99, 'skill_match_planning_organisation'] = 11
data.loc[data['skill_development'] == 99, 'skill_development'] = 11
data.loc[data['skill_level_variety_tasks'] == 99, 'skill_level_variety_tasks'] = 11
data.loc[data['skill_level_difficulty_task'] == 99, 'skill_level_difficulty_task'] = 11
data.loc[data['skill_level_learn_new'] == 99, 'skill_level_learn_new'] = 11
data.loc[data['factors_job_suited'] == 99, 'factors_job_suited'] = 11
data.loc[data['factors_work_experience'] == 99, 'factors_work_experience'] = 11
data.loc[data['factors_security'] == 99, 'factors_security'] = 11
data.loc[data['factors_career_progression'] == 99, 'factors_career_progression'] = 11
data.loc[data['factors_company'] == 99, 'factors_company'] = 11
data.loc[data['factors_pay'] == 99, 'factors_pay'] = 11
data.loc[data['factors_home'] == 99, 'factors_home'] = 11
data.loc[data['factors_interesting'] == 99, 'factors_interesting'] = 11
data.loc[data['factors_balance'] == 99, 'factors_balance'] = 11
data.loc[data['lose_job'] == 99, 'lose_job'] = 11
data.loc[data['skills_outdated'] == 99, 'skills_outdated'] = 11

In [147]:
#if questions are 1-4, turn #99 into #5
data.loc[data['non_routine_work'] == 99, 'non_routine_work'] = 5
data.loc[data['learning_new_things'] == 99, 'learning_new_things'] = 5
data.loc[data['choosing_way_work'] == 99, 'choosing_way_work'] = 5
data.loc[data['teamwork'] == 99, 'teamwork'] = 5
data.loc[data['company_type'] == 99, 'company_type'] = 5

In [148]:
#if questions are 1-5, turn #99 into #6
data.loc[data['employment_contract'] == 99, 'employment_contract'] = 6

In [149]:
#if questions are 1-2, turn #99 into #3
data.loc[data['literacy_needed'] == 99, 'literacy_needed'] = 3
data.loc[data['numeracy_needed'] == 99, 'numeracy_needed'] = 3
data.loc[data['before_few_opportunities_skills'] == 99, 'before_few_opportunities_skills'] = 3
data.loc[data['before_few_opportunities_interviews'] == 99, 'before_few_opportunities_interviews'] = 3
data.loc[data['before_finding_work'] == 99, 'before_finding_work'] = 3
data.loc[data['before_more_offers'] == 99, 'before_more_offers'] = 3
data.loc[data['vocational_quals'] == 99, 'vocational_quals'] = 3
data.loc[data['part/full_time'] == 99, 'part/full_time'] = 3

In [150]:
#if questions are 1-3, turn #99 into #4
data.loc[data['IT_needed'] == 99, 'IT_needed'] = 4
data.loc[data['skill_match'] == 99, 'skill_match'] = 4
data.loc[data['skill_level'] == 99, 'skill_level'] = 4
data.loc[data['occupation_change'] == 99, 'occupation_change'] = 4
data.loc[data['changes_workplace_supported'] == 99, 'changes_workplace_supported'] = 4
data.loc[data['before_skill_level'] == 99, 'before_skill_level'] = 4

In [151]:
#if questions are 1-7, turn #99 into #8
data.loc[data['company_size'] == 99, 'company_size'] = 8
data.loc[data['qual_level'] == 99, 'qual_level'] = 8
data.loc[data['qual_needed_have'] == 99, 'qual_needed_have'] = 8
data.loc[data['qual_needed_do'] == 99, 'qual_needed_do'] = 8

In [152]:
#if questions are 0-10, turn #88 into #12 
data.loc[data['skill_needed_technical'] == 88, 'skill_needed_technical'] = 12
data.loc[data['skill_needed_communication'] == 88, 'skill_needed_communication'] = 12
data.loc[data['skill_needed_teamwork'] == 88, 'skill_needed_teamwork'] = 12
data.loc[data['skill_needed_foreign_lang'] == 88, 'skill_needed_foreign_lang'] = 12
data.loc[data['skill_needed_customer_handling'] == 88, 'skill_needed_customer_handling'] = 12
data.loc[data['skill_needed_problem_solving'] == 88, 'skill_needed_problem_solving'] = 12
data.loc[data['skill_needed_learning'] == 88, 'skill_needed_learning'] = 12
data.loc[data['skill_needed_planning_organisation'] == 88, 'skill_needed_planning_organisation'] = 12
data.loc[data['skill_development'] == 88, 'skill_development'] = 12
data.loc[data['factors_job_suited'] == 88, 'factors_job_suited'] = 12
data.loc[data['factors_work_experience'] == 88, 'factors_work_experience'] = 12
data.loc[data['factors_security'] == 88, 'factors_security'] = 12
data.loc[data['factors_career_progression'] == 88, 'factors_career_progression'] = 12
data.loc[data['factors_company'] == 88, 'factors_company'] = 12
data.loc[data['factors_pay'] == 88, 'factors_pay'] = 12
data.loc[data['factors_home'] == 88, 'factors_home'] = 12
data.loc[data['factors_interesting'] == 88, 'factors_interesting'] = 12
data.loc[data['factors_balance'] == 88, 'factors_balance'] = 12

In [153]:
#if questions are 0-7, turn #88 into #9 
data.loc[data['company_size'] == 88, 'company_size'] = 9
data.loc[data['qual_needed_have'] == 88, 'qual_needed_have'] = 9
data.loc[data['qual_needed_do'] == 88, 'qual_needed_do'] = 9

In [154]:
#if questions are 1-2, turn #88 into #4 
data.loc[data['vocational_quals'] == 88, 'vocational_quals'] = 4
data.loc[data['literacy_needed'] == 88, 'literacy_needed'] = 4
data.loc[data['numeracy_needed'] == 88, 'numeracy_needed'] = 4

In [155]:
#if questions are 1-3, turn #88 into #4
data.loc[data['occupation_change'] == 88, 'occupation_change'] = 5
data.loc[data['IT_needed'] == 88, 'IT_needed'] = 5

We'll also turn all the Nans that are still there into don't knows

In [156]:
#turn Nans to 11 = don't know in data dictionary
data["skill_match_technical"] = data["skill_match_technical"].fillna(11)
data["skill_match_communication"] = data["skill_match_communication"].fillna(11)
data["skill_match_teamwork"] = data["skill_match_teamwork"].fillna(11)
data["skill_match_foreign_lang"] = data["skill_match_foreign_lang"].fillna(11)
data["skill_match_customer_handling"] = data["skill_match_customer_handling"].fillna(11)
data["skill_match_problem_solving"] = data["skill_match_problem_solving"].fillna(11)
data["skill_match_learning"] = data["skill_match_learning"].fillna(11)
data["skill_match_planning_organisation"] = data["skill_match_planning_organisation"].fillna(11)

In [157]:
#turn Nans to 2 = don't know in data dictionary
data["skill_development_training_courses"] = data["skill_development_training_courses"].fillna(2)
data["skill_development_on_the_job"] = data["skill_development_on_the_job"].fillna(2)
data["skill_development_interacting_colleagues"] = data["skill_development_interacting_colleagues"].fillna(2)
data["skill_development_trial_error"] = data["skill_development_trial_error"].fillna(2)
data["skill_development_learnt_self"] = data["skill_development_learnt_self"].fillna(2)
data["training_paid_you"] = data["training_paid_you"].fillna(2)
data["training_paid_employer"] = data["training_paid_employer"].fillna(2)
data["training_paid_employer_part"] = data["training_paid_employer_part"].fillna(2)
data["training_paid_gvt"] = data["training_paid_gvt"].fillna(2)
data["training_paid_someone_else"] = data["training_paid_someone_else"].fillna(2)
data["training_reasons_skill_need"] = data["training_reasons_skill_need"].fillna(2)
data["training_reasons_comply"] = data["training_reasons_comply"].fillna(2)
data["training_reasons_job_performance"] = data["training_reasons_job_performance"].fillna(2)
data["training_reasons_career_prospects"] = data["training_reasons_career_prospects"].fillna(2)
data["training_reasons_personal"] = data["training_reasons_personal"].fillna(2)

In [158]:
#turn Nans to 3 = don't know in data dictionary
data["changes_workplace_supported"] = data["changes_workplace_supported"].fillna(4)

In [159]:
#turn Nans to 3 = don't know in data dictionary
data["vocational_quals"] = data["vocational_quals"].fillna(3)

In [160]:
#check the percentage of the number of nans in each column is now 0
data.isna().sum()/(len(data))*100

gender                                      0.0
age                                         0.0
country                                     0.0
current_job                                 0.0
work_situation_1                            0.0
work_situation_2                            0.0
work_situation_3                            0.0
company_type                                0.0
company_industry                            0.0
company_size                                0.0
role_changes_1                              0.0
role_changes_2                              0.0
role_changes_3                              0.0
role_changes_4                              0.0
role_changes_5                              0.0
part/full_time                              0.0
employment_contract                         0.0
non_routine_work                            0.0
learning_new_things                         0.0
choosing_way_work                           0.0
teamwork                                    0.0
job_satisfaction                            0.0
qual_level                                  0.0
vocational_quals                            0.0
qual_needed_have                            0.0
qual_needed_do                              0.0
skill_rating                                0.0
literacy_needed                             0.0
numeracy_needed                             0.0
IT_needed                                   0.0
skill_needed_technical                      0.0
skill_needed_communication                  0.0
skill_needed_teamwork                       0.0
skill_needed_foreign_lang                   0.0
skill_needed_customer_handling              0.0
skill_needed_problem_solving                0.0
skill_needed_learning                       0.0
skill_needed_planning_organisation          0.0
skill_match_technical                       0.0
skill_match_communication                   0.0
skill_match_teamwork                        0.0
skill_match_foreign_lang                    0.0
skill_match_customer_handling               0.0
skill_match_problem_solving                 0.0
skill_match_learning                        0.0
skill_match_planning_organisation           0.0
skill_match                                 0.0
skill_development                           0.0
skill_development_training_courses          0.0
skill_development_on_the_job                0.0
skill_development_interacting_colleagues    0.0
skill_development_trial_error               0.0
skill_development_learnt_self               0.0
skill_level_variety_tasks                   0.0
skill_level_difficulty_task                 0.0
skill_level_learn_new                       0.0
skill_level                                 0.0
training_courses_at_work                    0.0
training_courses_outside_work               0.0
training_courses_on_job                     0.0
no_training                                 0.0
training_paid_you                           0.0
training_paid_employer                      0.0
training_paid_employer_part                 0.0
training_paid_gvt                           0.0
training_paid_someone_else                  0.0
training_reasons_skill_need                 0.0
training_reasons_comply                     0.0
training_reasons_job_performance            0.0
training_reasons_career_prospects           0.0
training_reasons_personal                   0.0
changes_workplace_technology                0.0
changes_workplace_methods                   0.0
changes_workplace_products                  0.0
changes_workplace_contact                   0.0
changes_workplace_supported                 0.0
occupation_change                           0.0
factors_job_suited                          0.0
factors_work_experience                     0.0
factors_security                            0.0
factors_career_progression                  0.0
factors_company                             0.0
factors_pay                                 0.0
factors_home                                0.0
factors_interesting                         0.0
factors_balance                             0.0
before_few_opportunities_skills             0.0
before_few_opportunities_interviews         0.0
before_finding_work                         0.0
before_more_offers                          0.0
before_skill_level                          0.0
lose_job                                    0.0
skills_outdated                             0.0
salary                                      0.0
job_description                             0.0
qual_field                                  0.0
dtype: float64

In [161]:
#for job satisfaction - as it's going to be the target, we drop the 99 values.
data.drop(data.loc[data['job_satisfaction']==99].index, inplace=True)

And we can put our data into a CSV file so that we can use it in our EDA and Preliminary Analysis

In [162]:
#data.to_csv('data_clean.csv')